In [1]:
# Importação das bibliotecas necessárias

import pandas as pd

In [2]:
# Definição da loja a ser utilizada

loja = 44

In [5]:
# Leitura do arquivo da ficha 3 da loja

ficha3 = pd.read_excel(f'Loja_{loja}/ficha_3_loja_{loja}_v3.xlsb', sheet_name='ficha3', engine='pyxlsb')
ficha3

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
0,35191171605265000595590003114261029280124640,2019-11-01,5405,4,18,1,1,1,5.0,15.9516,...,3.19032,NaN,NaN,18.0,24.05,0.00,NaN,0.0,0.0,0.0000
1,35191171605265000595590003114261029280124640,2019-11-01,5405,5,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,24.05,0.00,NaN,0.0,0.0,0.0000
2,35191171605265000595590003114261029280124640,2019-11-01,5405,6,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,24.05,0.00,NaN,0.0,0.0,0.0000
3,35191127849963000110550010006036171006017161,2019-11-06,1403,2,18,0,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,15.45,17.02,0.64,0.0,0.0,3.1788
4,35191171605265000595550020000037701161035921,2019-11-20,5409,1,18,1,1,2,NaN,NaN,...,NaN,NaN,NaN,18.0,29.42,0.00,NaN,0.0,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379070,35200871605265000595590003114261518102311771,2020-08-25,5405,10,935528,1,1,1,NaN,NaN,...,NaN,NaN,NaN,25.0,100.90,0.00,NaN,0.0,0.0,0.0000
379071,35200827849963000110550010008963991008934043,2020-08-27,1403,81,935528,0,1,1,NaN,NaN,...,NaN,NaN,NaN,25.0,65.35,0.00,115.38,0.0,0.0,28.8450
379072,35201171605265000595550020000045761182553653,2020-11-24,5409,37,935528,1,1,1,NaN,NaN,...,NaN,NaN,NaN,25.0,66.98,0.00,NaN,0.0,0.0,0.0000
379073,35201127849963000110550010009966111009931657,2020-12-01,1403,158,935528,0,1,1,NaN,NaN,...,NaN,NaN,NaN,25.0,68.46,0.00,120.87,0.0,0.0,30.2175
379074,35201127849963000110550010009985161009950570,2020-12-02,1403,1,935908,0,1,56,NaN,NaN,...,NaN,NaN,NaN,12.0,514.08,1750.56,171.84,0.0,0.0,230.6880

In [7]:
# Leitura do arquivo da complementar

complementar = pd.read_excel(f'Loja_{loja}/NFC_loja_{loja}.xlsx')
complementar

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,0,NaN,"11,12",0,2
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,0,NaN,"14,13",0,"2,54"
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,0,1.438101e+12,"1867,2",0,"336,1"
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,0,NaN,"280,31",0,"70,08"
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,0,NaN,"4,51",0,"0,81"
...,...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,0,NaN,"7,43",0,"0,89"
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,0,1.130003e+12,"5,23",0,"0,94"
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,0,1.029802e+12,"53,67",0,"9,66"
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,"38,16",1.542302e+12,"44,76",0,"5,37"
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,0,1.052500e+12,"127,81",0,"15,34"

In [15]:
# Adição à complementar das informações necessárias da ficha 3

merged = pd.merge(complementar, ficha3[['CHV_DOC', 'NUM_ITEM', 'Valor Complementar']],
                left_on=['NFref1', 'Item'], right_on=['CHV_DOC', 'NUM_ITEM'],
                how='left')
merged

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val,CHV_DOC,NUM_ITEM,Valor Complementar
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,0,NaN,"11,12",0,2,35190927849963000110550010005707591005689329,1.0,11.12
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,0,NaN,"14,13",0,"2,54",35190927849963000110550010005707591005689329,3.0,14.13
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,0,1.438101e+12,"1867,2",0,"336,1",35190927849963000110550010005707591005689329,4.0,1867.20
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,0,NaN,"280,31",0,"70,08",35190927849963000110550010005707591005689329,5.0,280.31
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,0,NaN,"4,51",0,"0,81",35190927849963000110550010005708361005690069,1.0,4.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,0,NaN,"7,43",0,"0,89",35201227849963000110550010010278781010243092,10.0,7.43
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,0,1.130003e+12,"5,23",0,"0,94",35201227849963000110550010010278781010243092,13.0,5.23
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,0,1.029802e+12,"53,67",0,"9,66",35201227849963000110550010010278781010243092,14.0,53.67
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,"38,16",1.542302e+12,"44,76",0,"5,37",35201227849963000110550010010278781010243092,16.0,44.76
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,0,1.052500e+12,"127,81",0,"15,34",35201227849963000110550010010278781010243092,18.0,127.81

In [16]:
# Substituição da coluna ST Retido - Base de Cálculo por Valor complementar
merged = merged[['NFref1', 'Item', 'cEAN', 'Produto', 'Quantidade', 'Valor Unitário', 
                'cProdAnvisa', 'Valor Complementar', 'Aliquota', 'ICMS ST Retido - Val']]

merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_8280\1125088997.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
C:\Users\vinic\AppData\Local\Temp\ipykernel_8280\1125088997.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,cProdAnvisa,Valor Complementar,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,NaN,"11,12",0,2
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,NaN,"14,13",0,"2,54"
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,1.438101e+12,"1867,2",0,"336,1"
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,NaN,"280,31",0,"70,08"
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,NaN,"4,51",0,"0,81"
...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,NaN,"7,43",0,"0,89"
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,1.130003e+12,"5,23",0,"0,94"
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,1.029802e+12,"53,67",0,"9,66"
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,1.542302e+12,"44,76",0,"5,37"
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,1.052500e+12,"127,81",0,"15,34"

In [17]:
# Renomeação da coluna substituta

merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_8280\3385442673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

In [18]:
merged

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,NaN,"11,12",0,2
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,NaN,"14,13",0,"2,54"
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,1.438101e+12,"1867,2",0,"336,1"
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,NaN,"280,31",0,"70,08"
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,NaN,"4,51",0,"0,81"
...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,NaN,"7,43",0,"0,89"
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,1.130003e+12,"5,23",0,"0,94"
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,1.029802e+12,"53,67",0,"9,66"
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,1.542302e+12,"44,76",0,"5,37"
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,1.052500e+12,"127,81",0,"15,34"

In [21]:
# Geração do arquivo final

path = f'Loja_{loja}/complementar_final_loja_{loja}.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    merged.to_excel(writer, engine='xlsxwriter', index=False)