In [1]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import math
from datetime import datetime

In [2]:
# Defninição da loja a ser utilizada

loja = 191

In [3]:
# Replace placeholders with actual MySQL database details
database_config = {
    "host": "cat42.cohe0l2miaal.us-east-1.rds.amazonaws.com",
    "user": "master",
    "password": "dms191411",
    "database": "cat"
}

# Create a connection to the MySQL database
engine = create_engine(f"mysql+pymysql://{database_config['user']}:{database_config['password']}@{database_config['host']}/{database_config['database']}")

In [4]:
# Leitura das informações da tabela de produtos
# do banco de dados para um dataframe
query = 'SELECT * from tabela_produtos_P2'
df_produtos = pd.read_sql(query, engine)
df_produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,219350,,2106.90.90,,5900,VALDA TABLETES POTE 200UNI (L),0,0,,
1,219351,,1704.90.20,,26526,VICK PAST CEREJA 24X5 PROCT,0,0,,
2,219352,,1704.90.20,,78840,VICK PAST LIMAO 24X5 PROCT,0,0,,
3,219353,,2106.90.60,,84236,VALDA DIET SACHE 12X12G,0,0,,
4,219354,,2106.90.50,,96313,TRIDENT TRAD MELANCIA CX 21,0,0,,
...,...,...,...,...,...,...,...,...,...,...
14505,233855,,21050010,,243295,Jundia Miniskimo Cx12,18,70,,
14506,233856,,30049099,,754028,GELMAX EFV ABAC 100X5G EMS OTC,18,35.72,,
14507,233857,,30049079,,93666,MONTELUCASTE SODIO 10MG 30'S,7,273.95,,
14508,233858,,30049045,,79160,Paracetamol Ems Sache 50x5 Lim,7,298.8,,
14509,233859,1023511190144.0,3004.90.69,13.002.00,935916,ATORVASTATINA 40MG 30S EMS,12,273.95,,2018-04-01

In [5]:
# Formatação da coluna de data
df_produtos['DT_VALIDA'] = df_produtos['DT_VALIDA'].str[:10]
df_produtos['DT_VALIDA'] = pd.to_datetime(df_produtos['DT_VALIDA'], format='%Y-%m-%d')
df_produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,219350,,2106.90.90,,5900,VALDA TABLETES POTE 200UNI (L),0,0,,NaT
1,219351,,1704.90.20,,26526,VICK PAST CEREJA 24X5 PROCT,0,0,,NaT
2,219352,,1704.90.20,,78840,VICK PAST LIMAO 24X5 PROCT,0,0,,NaT
3,219353,,2106.90.60,,84236,VALDA DIET SACHE 12X12G,0,0,,NaT
4,219354,,2106.90.50,,96313,TRIDENT TRAD MELANCIA CX 21,0,0,,NaT
...,...,...,...,...,...,...,...,...,...,...
14505,233855,,21050010,,243295,Jundia Miniskimo Cx12,18,70,,NaT
14506,233856,,30049099,,754028,GELMAX EFV ABAC 100X5G EMS OTC,18,35.72,,NaT
14507,233857,,30049079,,93666,MONTELUCASTE SODIO 10MG 30'S,7,273.95,,NaT
14508,233858,,30049045,,79160,Paracetamol Ems Sache 50x5 Lim,7,298.8,,NaT
14509,233859,1023511190144.0,3004.90.69,13.002.00,935916,ATORVASTATINA 40MG 30S EMS,12,273.95,,2018-04-01

In [6]:
# Leitura das informações da tabela de PMC
# do banco de dados para um dataframe
query = 'SELECT * from tabela_pmc'
df_pmc = pd.read_sql(query, engine)

# Formatação da coluna de data
df_pmc['DATA'] = pd.to_datetime(df_pmc['DATA'], format='%d/%m/%Y')
df_pmc

,ID,DATA,SUBSTANCIA,CNPJ,LABORATORIO,REGISTRO,EAN_1,EAN_2,EAN_3,PRODUTO,...,PMC_0,PMC_12,PMC_17,PMC_17_ALC,PMC_17_5,PMC_17_5_ALC,PMC_18,PMC_18_ALC,PMC_20,LISTA_CONCESSAO_PIS_COFINS
0,1,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930012,7891058020958,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
1,2,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930020,7891058020972,-,-,SOLIQUA,...,"689,28","793,16","846,34","764,13","852,06","768,76","857,86","773,45","881,85",Negativa
2,3,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930047,7891058020965,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
3,4,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930055,7891058020996,-,-,SOLIQUA,...,"572,40","658,66","702,84","634,55","707,58","638,41","712,39","642,30","732,31",Negativa
4,5,2020-05-01,RITUXIMABE,05.452.889/0001-61,CELLTRION HEALTHCARE DISTRIBUICAO DE PRODUTOS ...,1921600030011,7898576550103,-,-,TRUXIMA,...,,,,,,,,,,Positiva
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396075,396076,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210017,7898430191992.0,,,BETRAT,...,67.92,78.14,83.39,75.29,83.96,75.74,84.52,76.2,86.89,NEGATIVA
396076,396077,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210025,7898430192449.0,,,BETRAT,...,126.27,145.31,155.05,139.99,156.1,140.84,157.16,141.7,161.56,NEGATIVA
396077,396078,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210033,7898430193071.0,,,BETRAT,...,189.4,217.95,232.57,209.98,234.13,211.25,235.73,212.54,242.31,NEGATIVA
396078,396079,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210041,7898430192432.0,,,BETRAT,...,33.44,38.48,41.07,37.08,41.34,37.3,41.62,37.52,42.78,NEGATIVA
396079,396080,2019-09-02,CEMIPLIMABE,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603030011,7891058022440.0,,,LIBTAYO,...,,,,,,,,,,NEGATIVA

In [7]:
# Leitura da tabela de EFD do banco de dados
# para um dataframe

query = f'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = {loja}'
efd = pd.read_sql(query, engine)
efd

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN, NCM, ICMS, CEST]
Index: []

In [8]:
efd[efd['CHAVE_ORIGINAL'] == '35180771605265002105550020000000021138803433']

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN, NCM, ICMS, CEST]
Index: []

In [9]:
# Leitura da tabela de desconto
query = 'SELECT * FROM tabela_desconto'
desconto = pd.read_sql(query, engine)
desconto

    ID       CEST          CATEGORIA LISTA_DE_CONSESSAO DESCONTO_PORCENTAGEM
0    1  13.001.00         Referência           Positiva                26.55
1    2  13.001.01         Referência           Negativa                11.98
2    3  13.001.02         Referência             Neutra                 7.71
3    4  13.002.00           Genérico           Positiva                41.36
4    5  13.002.01           Genérico           Negativa                27.88
5    6  13.002.02           Genérico             Neutra                  0.0
6    7  13.003.00            Similar           Positiva                25.56
7    8  13.003.01            Similar           Negativa                16.16
8    9  13.003.02            Similar             Neutra                  7.1
9   10  13.004.00             Outros           Positiva                25.56
10  11  13.004.01             Outros           Negativa                16.16
11  12  13.004.02             Outros             Neutra                  7.1
12  13  13.005.00         Referência           Positiva                26.55
13  14  13.005.01  Referência/Outros           Negativa                11.98
14  15  13.005.02           Genérico           Positiva                41.36
15  16  13.005.03           Genérico           Negativa                27.88
16  17  13.005.04            Similar           Positiva                25.56
17  18  13.005.05            Similar           Negativa                16.16

In [10]:
# Leitura do arquivo da loja
df_loja = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_1.csv', dtype=str)
df_loja

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35180771605265002105550020000000021138803433,2018-07-27,1,37127,1411,"1,0000","18,07",NaN,NaN,NaN,"10,3",Diclof Sodio Med 50mg 20S,7896422504492,UN,30049037,1300200.0,71605265002105,71605265002105,entrada_oprprp
1,1,35180771605265002105550020000000031138855538,2018-07-30,3,12914,1411,"1,0000","21,09",NaN,NaN,NaN,"18,03",Decongex Plus 12S Ache,7896658001901,UN,30049099,1300101.0,71605265002105,71605265002105,entrada_oprprp
2,2,35180771605265002105550020000000031138855538,2018-07-30,4,12914,1411,"1,0000","21,09",NaN,NaN,NaN,"18,03",Decongex Plus 12S Ache,7896658001901,UN,30049099,1300101.0,71605265002105,71605265002105,entrada_oprprp
3,3,35180771605265002105550020000000031138855538,2018-07-30,1,17921,1411,"1,0000","23,34",NaN,NaN,NaN,"20,22",Luftal Max 125mg Gel 10S Bm/O,7896016804939,UN,30049099,1300101.0,71605265002105,71605265002105,entrada_oprprp
4,4,35180771605265002105550020000000031138855538,2018-07-30,2,17921,1411,"1,0000","23,34",NaN,NaN,NaN,"20,22",Luftal Max 125mg Gel 10S Bm/O,7896016804939,UN,30049099,1300101.0,71605265002105,71605265002105,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601447,5447,35201271605265002105550030000000351805187499,2020-12-22,2,24661,5927,"1,0000","39,02",NaN,NaN,NaN,NaN,GINO KOLLAGENASE 30GR 6APLIC,7896676435108,UN,30049019,1300401.0,71605265002105,71605265002105,saida_nfe
601448,5448,35201271605265002105550030000000361807153572,2020-12-22,1,889261,5927,"2,0000","5,64",NaN,NaN,NaN,NaN,APAR PROBAK II C/2,7891051029941,UN,82121020,2006400.0,71605265002105,71605265002105,saida_nfe
601449,5449,35201271605265002105550030000000371806498212,2020-12-22,1,228916,5927,"1,0000","4,19",NaN,NaN,NaN,NaN,ALCOOL GEL GELALCOOL 500G,7897534800229,UN,22072019,1101000.0,71605265002105,71605265002105,saida_nfe
601450,5450,35201271605265002105550030000000371806498212,2020-12-22,2,229765,5927,"7,0000","29,61",NaN,NaN,NaN,NaN,ALCOOL GEL 70% CONCARE 200G,7898623355811,UN,22072019,1101000.0,71605265002105,71605265002105,saida_nfe
601451,5451,35201271605265002105550030000000391813051818,2020-12-23,1,178525,5409,"2,0000","7,36",NaN,NaN,NaN,NaN,BACLOFENO 10MG 20S U.Q,7896006209027,UN,30049099,1300200.0,71605265002105,71605265001486,saida_nfe

In [11]:
# Seleção dos produtos do Período 2

df_p2 = df_loja.copy()
df_p2 = df_p2[df_p2['Data Emissão'] >= '2019-09-01']
df_p2 = df_p2.loc[(df_p2['Tipo'] == 'entrada_oprprp') | (df_p2['Tipo'] == 'entrada_outras') | (df_p2['Tipo'] == 'entrada_sp')]
df_p2

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
262,262,35190971605265002105550020000004991156244059,2019-09-02,1,84806,1411,"1,0000","7,71",NaN,NaN,NaN,NaN,Ciclo 21 Unitario Unq,SEM GTIN,UN,30043999,1300200.0,71605265002105,0,entrada_oprprp
263,263,35190971605265002105550020000005001156313959,2019-09-03,1,30544,1411,"1,0000","1,84",NaN,NaN,NaN,NaN,Sonrisal Limao 2S Gsk Otc,SEM GTIN,UN,30049029,1300301.0,71605265002105,0,entrada_oprprp
264,264,35190971605265002105550020000005001156313959,2019-09-03,2,30544,1411,"1,0000","1,84",NaN,NaN,NaN,NaN,Sonrisal Limao 2S Gsk Otc,SEM GTIN,UN,30049029,1300301.0,71605265002105,0,entrada_oprprp
265,265,35190971605265002105550020000005031156641435,2019-09-09,1,120642,1202,"1,0000","35,25","3,68",NaN,NaN,NaN,Oleo De Primula 500mg 60S Mcg,SEM GTIN,UN,21069030,2804100.0,71605265002105,0,entrada_oprprp
266,266,35190971605265002105550020000005041156641793,2019-09-09,1,916296,1411,"1,0000","41,89",NaN,NaN,NaN,NaN,Leite Nan 1 Comfor 800g,SEM GTIN,UN,19011010,2804100.0,71605265002105,0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160919,160024,35201271605265006283550010000038251010253648,2020-12-30,14,204123,5409,"1,0000","2,99",NaN,NaN,NaN,"4,1",SB PROTEX INTIMO 85G FRESH,7891024037355,UN,34011190,2003400.0,71605265006283,71605265002105,entrada_sp
160920,160025,35201271605265006283550010000038251010253648,2020-12-30,1,3780,5409,"1,0000","3,48",NaN,NaN,NaN,"3,43",ABS CAREFREE 15 BRISA S/P,7891010087807,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160921,160026,35201271605265006283550010000038251010253648,2020-12-30,3,865212,5409,"2,0000","11,44",NaN,NaN,NaN,"6,52",ABS INT INTERNO 8UN SUPER,7896007541874,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160922,160027,35201271605265006283550010000038251010253648,2020-12-30,4,902965,5409,"1,0000","4,52",NaN,NaN,NaN,"4,53",ABS SL ADAPT SV C/ABS L16P14,7891010793463,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160923,160028,35201271605265006283550010000038251010253648,2020-12-30,2,222778,5409,"1,0000","3,98",NaN,NaN,NaN,"2,27",ABS INT GEL NOT L9P8 SV ABAS,7896007547685,UN,96190000,2004800.0,71605265006283,71605265002105,entrada_sp

In [12]:
df_p2['Tipo'].unique()

array(['entrada_oprprp', 'entrada_outras', 'entrada_sp'], dtype=object)

In [13]:
df_produtos['ANVISA'] = df_produtos['ANVISA'].replace('', np.nan)
df_produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,219350,NaN,2106.90.90,,5900,VALDA TABLETES POTE 200UNI (L),0,0,,NaT
1,219351,NaN,1704.90.20,,26526,VICK PAST CEREJA 24X5 PROCT,0,0,,NaT
2,219352,NaN,1704.90.20,,78840,VICK PAST LIMAO 24X5 PROCT,0,0,,NaT
3,219353,NaN,2106.90.60,,84236,VALDA DIET SACHE 12X12G,0,0,,NaT
4,219354,NaN,2106.90.50,,96313,TRIDENT TRAD MELANCIA CX 21,0,0,,NaT
...,...,...,...,...,...,...,...,...,...,...
14505,233855,NaN,21050010,,243295,Jundia Miniskimo Cx12,18,70,,NaT
14506,233856,NaN,30049099,,754028,GELMAX EFV ABAC 100X5G EMS OTC,18,35.72,,NaT
14507,233857,NaN,30049079,,93666,MONTELUCASTE SODIO 10MG 30'S,7,273.95,,NaT
14508,233858,NaN,30049045,,79160,Paracetamol Ems Sache 50x5 Lim,7,298.8,,NaT
14509,233859,1023511190144.0,3004.90.69,13.002.00,935916,ATORVASTATINA 40MG 30S EMS,12,273.95,,2018-04-01

In [14]:
df_p2.rename(columns={'Código GTIN': 'EAN'}, inplace=True)

In [15]:
# Organização das informações da coluna EAN
df_p2['EAN'] = np.where((df_p2['EAN'] == 'SEM GTIN      ') | (df_p2['EAN'] == 'nan'), np.nan, df_p2['EAN'])
df_p2['EAN'] = df_p2['EAN'].astype(str).str.strip()
df_p2

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,EAN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
262,262,35190971605265002105550020000004991156244059,2019-09-02,1,84806,1411,"1,0000","7,71",NaN,NaN,NaN,NaN,Ciclo 21 Unitario Unq,nan,UN,30043999,1300200.0,71605265002105,0,entrada_oprprp
263,263,35190971605265002105550020000005001156313959,2019-09-03,1,30544,1411,"1,0000","1,84",NaN,NaN,NaN,NaN,Sonrisal Limao 2S Gsk Otc,nan,UN,30049029,1300301.0,71605265002105,0,entrada_oprprp
264,264,35190971605265002105550020000005001156313959,2019-09-03,2,30544,1411,"1,0000","1,84",NaN,NaN,NaN,NaN,Sonrisal Limao 2S Gsk Otc,nan,UN,30049029,1300301.0,71605265002105,0,entrada_oprprp
265,265,35190971605265002105550020000005031156641435,2019-09-09,1,120642,1202,"1,0000","35,25","3,68",NaN,NaN,NaN,Oleo De Primula 500mg 60S Mcg,nan,UN,21069030,2804100.0,71605265002105,0,entrada_oprprp
266,266,35190971605265002105550020000005041156641793,2019-09-09,1,916296,1411,"1,0000","41,89",NaN,NaN,NaN,NaN,Leite Nan 1 Comfor 800g,nan,UN,19011010,2804100.0,71605265002105,0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160919,160024,35201271605265006283550010000038251010253648,2020-12-30,14,204123,5409,"1,0000","2,99",NaN,NaN,NaN,"4,1",SB PROTEX INTIMO 85G FRESH,7891024037355,UN,34011190,2003400.0,71605265006283,71605265002105,entrada_sp
160920,160025,35201271605265006283550010000038251010253648,2020-12-30,1,3780,5409,"1,0000","3,48",NaN,NaN,NaN,"3,43",ABS CAREFREE 15 BRISA S/P,7891010087807,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160921,160026,35201271605265006283550010000038251010253648,2020-12-30,3,865212,5409,"2,0000","11,44",NaN,NaN,NaN,"6,52",ABS INT INTERNO 8UN SUPER,7896007541874,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160922,160027,35201271605265006283550010000038251010253648,2020-12-30,4,902965,5409,"1,0000","4,52",NaN,NaN,NaN,"4,53",ABS SL ADAPT SV C/ABS L16P14,7891010793463,UN,96190000,2004700.0,71605265006283,71605265002105,entrada_sp
160923,160028,35201271605265006283550010000038251010253648,2020-12-30,2,222778,5409,"1,0000","3,98",NaN,NaN,NaN,"2,27",ABS INT GEL NOT L9P8 SV ABAS,7896007547685,UN,96190000,2004800.0,71605265006283,71605265002105,entrada_sp

In [16]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(str)
df_p2['Número Item'] = df_p2['Número Item'].astype(str)
efd['CHAVE_ORIGINAL'] = efd['CHAVE_ORIGINAL'].astype(str)
df_p2['Chave Acesso NFe'] = df_p2['Chave Acesso NFe'].astype(str)

df_merged = efd.merge(df_p2, left_on=['CHAVE_ORIGINAL', 'COD_DO_ITEM'], 
                         right_on=['Chave Acesso NFe', 'Número Item'], how='left')


df_merged

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo]
Index: []

[0 rows x 35 columns]

In [17]:
df_merged[(df_merged['Chave Acesso NFe'].isnull()) & (df_merged['Número Item'].isnull())]

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo]
Index: []

[0 rows x 35 columns]

In [18]:
df_merged = df_merged[(df_merged['Chave Acesso NFe'].notnull()) & (df_merged['Número Item'].notnull())] 
df_merged

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo]
Index: []

[0 rows x 35 columns]

In [19]:
df_merged['Tipo'].unique()

array([], dtype=object)

In [20]:
df_merged = df_merged.drop_duplicates()
df_merged

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo]
Index: []

[0 rows x 35 columns]

In [21]:
df_merged['CFOP'].unique()

array([], dtype=object)

In [22]:
df_merged_novo = df_merged.loc[(df_merged['CFOP'] == '1405') | (df_merged['CFOP'] == '1403')]
df_merged_novo

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo]
Index: []

[0 rows x 35 columns]

In [23]:
df_merged_novo['Produto'] = np.where(df_merged_novo['Tipo'] == 'entrada_oprprp', 
                               df_merged_novo['Código Produto ou Serviço'],
                               df_merged_novo['CODPROF'])

df_merged_novo

Empty DataFrame
Columns: [ID, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM, ICMS, CEST, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto]
Index: []

[0 rows x 36 columns]

In [24]:
df_produtos['CODIGO_DO_PRODUTO'] = df_produtos['CODIGO_DO_PRODUTO'].astype(str)
df_merged_novo['Produto'] = df_merged_novo['Produto'].astype(str)
df = df_merged_novo.merge(df_produtos, left_on=['Produto'],right_on=['CODIGO_DO_PRODUTO'],
                    how='left')

df

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [25]:
df = df.drop_duplicates()
df

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [26]:
df[df['CODIGO_DO_PRODUTO'].isnull()]

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [27]:
prods_pmc = df[df['ANVISA'].notnull()]
prods_mva = df[df['ANVISA'].isnull()]

In [28]:
prods_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [29]:
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

# Cáluco da base complementar

## PMC:

### Quantidade do produtos: qTrib
### PMC do produto: PMC
### Percentual de desconto: perc_desconto
### vBCST retido da original: vBCST_ret_original

### vBCST = qTrib * (PMC * (1-(perc_desconto/100))
### vBCST_complementar = vBCST - vBCST_ret_original
### ICMS_ST = vBCST_complementar * Aliquota

## MVA:

### Valor do Produto: vProd
### MVA do produto: MVA
### vBCST = vProd * (1+(MVA/100))
### vBCST_complementar = vBCST
### ICMS_ST = vBCST_complementar * Aliquota

In [30]:
prods_mva[prods_mva['ALIQUOTA'].isnull()]['Produto'].unique()

array([], dtype=object)

In [31]:
prods_mva['Valor Produto ou Serviço']

Series([], Name: Valor Produto ou Serviço, dtype: object)

In [32]:
prods_mva['Valor Produto ou Serviço'] = prods_mva['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)
prods_mva['Valor Produto ou Serviço']

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\3520389896.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prods_mva['Valor Produto ou Serviço'] = prods_mva['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

Series([], Name: Valor Produto ou Serviço, dtype: float64)

In [33]:
prods_mva['MVA_ANTES'] = prods_mva['MVA_ANTES'].str.replace(',','.').replace('', np.nan).astype(float)
prods_mva['MVA_DEPOIS'] = prods_mva['MVA_DEPOIS'].str.replace(',','.').replace('', np.nan).astype(float)
prods_mva['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = prods_mva['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.','').str.replace(',', '.').fillna(0).astype(float)
prods_mva['ALIQUOTA'] = prods_mva['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)
prods_mva

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\2837571338.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prods_mva['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = prods_mva['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.','').str.replace(',', '.').fillna(0).astype(float)

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [34]:
prods_mva['Data Emissão'] = pd.to_datetime(prods_mva['Data Emissão'], format='%Y-%m-%d')
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [35]:
prods_mva['MVA_A_USAR'] = np.where((prods_mva['Data Emissão'] < prods_mva['DT_VALIDA']) | (prods_mva['MVA_DEPOIS'].isnull()),
                               prods_mva['MVA_ANTES'], prods_mva['MVA_DEPOIS'])

prods_mva['vBCST'] = (prods_mva['Valor Produto ou Serviço'] * (1+prods_mva['MVA_A_USAR']/100))
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, MVA_A_USAR, vBCST]
Index: []

[0 rows x 48 columns]

In [36]:
prods_mva['vBCST_Complementar'] = prods_mva['vBCST'] - prods_mva['Valor Base Cálculo ICMS ST Retido Operação Anterior']
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, MVA_A_USAR, vBCST, vBCST_Complementar]
Index: []

[0 rows x 49 columns]

In [37]:
prods_mva = prods_mva[prods_mva['vBCST_Complementar'] >= 0]
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, MVA_A_USAR, vBCST, vBCST_Complementar]
Index: []

[0 rows x 49 columns]

In [38]:
prods_mva['ICMS_ST'] = prods_mva['vBCST_Complementar'] * (prods_mva['ALIQUOTA']/100)
prods_mva

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, MVA_A_USAR, vBCST, vBCST_Complementar, ICMS_ST]
Index: []

[0 rows x 50 columns]

In [39]:
prods_mva['vPMC'] = prods_mva['MVA_A_USAR']
prods_mva['ANVISA'] = [np.nan]*prods_mva.shape[0]
prods_mva['DESCONTO_PORCENTAGEM'] = [np.nan]*prods_mva.shape[0]
mva_complementar = prods_mva[['Chave Acesso NFe', 'Número Item', 'EAN_y', 'Produto',
                       'Quantidade Comercial', 'Valor Produto ou Serviço', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                       'vPMC', 'ANVISA', 'vBCST_Complementar','ALIQUOTA', 'ICMS_ST']]

mva_complementar

Empty DataFrame
Columns: [Chave Acesso NFe, Número Item, EAN_y, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, vPMC, ANVISA, vBCST_Complementar, ALIQUOTA, ICMS_ST]
Index: []

In [40]:
mva_complementar.rename(columns={'Número Item': 'Item NFE Origem',
                                'EAN_y':'EAN',
                                'vBCST_Complementar': 'ICMS ST Retido-Base de Cálculo',
                                'ICMS_ST': 'ICMS ST Retido- Valor'}, inplace=True)
mva_complementar

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\4222158864.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mva_complementar.rename(columns={'Número Item': 'Item NFE Origem',

Empty DataFrame
Columns: [Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, vPMC, ANVISA, ICMS ST Retido-Base de Cálculo, ALIQUOTA, ICMS ST Retido- Valor]
Index: []

In [41]:
mva_complementar['Valor Produto ou Serviço'] = mva_complementar['Valor Produto ou Serviço'].astype(str)
mva_complementar['ICMS ST Retido-Base de Cálculo'] = mva_complementar['ICMS ST Retido-Base de Cálculo'].round(2).astype(str)
mva_complementar['ICMS ST Retido- Valor'] = mva_complementar['ICMS ST Retido- Valor'].round(2).astype(str)
mva_complementar['ALIQUOTA'] = mva_complementar['ALIQUOTA'].astype(float)

mva_complementar

Empty DataFrame
Columns: [Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, vPMC, ANVISA, ICMS ST Retido-Base de Cálculo, ALIQUOTA, ICMS ST Retido- Valor]
Index: []

In [42]:
df_pmc

,ID,DATA,SUBSTANCIA,CNPJ,LABORATORIO,REGISTRO,EAN_1,EAN_2,EAN_3,PRODUTO,...,PMC_0,PMC_12,PMC_17,PMC_17_ALC,PMC_17_5,PMC_17_5_ALC,PMC_18,PMC_18_ALC,PMC_20,LISTA_CONCESSAO_PIS_COFINS
0,1,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930012,7891058020958,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
1,2,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930020,7891058020972,-,-,SOLIQUA,...,"689,28","793,16","846,34","764,13","852,06","768,76","857,86","773,45","881,85",Negativa
2,3,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930047,7891058020965,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
3,4,2020-05-01,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930055,7891058020996,-,-,SOLIQUA,...,"572,40","658,66","702,84","634,55","707,58","638,41","712,39","642,30","732,31",Negativa
4,5,2020-05-01,RITUXIMABE,05.452.889/0001-61,CELLTRION HEALTHCARE DISTRIBUICAO DE PRODUTOS ...,1921600030011,7898576550103,-,-,TRUXIMA,...,,,,,,,,,,Positiva
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396075,396076,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210017,7898430191992.0,,,BETRAT,...,67.92,78.14,83.39,75.29,83.96,75.74,84.52,76.2,86.89,NEGATIVA
396076,396077,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210025,7898430192449.0,,,BETRAT,...,126.27,145.31,155.05,139.99,156.1,140.84,157.16,141.7,161.56,NEGATIVA
396077,396078,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210033,7898430193071.0,,,BETRAT,...,189.4,217.95,232.57,209.98,234.13,211.25,235.73,212.54,242.31,NEGATIVA
396078,396079,2019-09-02,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210041,7898430192432.0,,,BETRAT,...,33.44,38.48,41.07,37.08,41.34,37.3,41.62,37.52,42.78,NEGATIVA
396079,396080,2019-09-02,CEMIPLIMABE,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603030011,7891058022440.0,,,LIBTAYO,...,,,,,,,,,,NEGATIVA

In [43]:
df_pmc['DATA'] = df_pmc['DATA'].astype(str)
df_pmc['DATA'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m-%Y') for x in df_pmc['DATA']]
df_pmc

,ID,DATA,SUBSTANCIA,CNPJ,LABORATORIO,REGISTRO,EAN_1,EAN_2,EAN_3,PRODUTO,...,PMC_0,PMC_12,PMC_17,PMC_17_ALC,PMC_17_5,PMC_17_5_ALC,PMC_18,PMC_18_ALC,PMC_20,LISTA_CONCESSAO_PIS_COFINS
0,1,05-2020,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930012,7891058020958,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
1,2,05-2020,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930020,7891058020972,-,-,SOLIQUA,...,"689,28","793,16","846,34","764,13","852,06","768,76","857,86","773,45","881,85",Negativa
2,3,05-2020,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930047,7891058020965,-,-,SOLIQUA,...,"144,21","165,94","177,07","159,87","178,26","160,83","179,48","161,81","184,49",Negativa
3,4,05-2020,INSULINA GLARGINA;LIXISENATIDA,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603930055,7891058020996,-,-,SOLIQUA,...,"572,40","658,66","702,84","634,55","707,58","638,41","712,39","642,30","732,31",Negativa
4,5,05-2020,RITUXIMABE,05.452.889/0001-61,CELLTRION HEALTHCARE DISTRIBUICAO DE PRODUTOS ...,1921600030011,7898576550103,-,-,TRUXIMA,...,,,,,,,,,,Positiva
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396075,396076,09-2019,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210017,7898430191992.0,,,BETRAT,...,67.92,78.14,83.39,75.29,83.96,75.74,84.52,76.2,86.89,NEGATIVA
396076,396077,09-2019,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210025,7898430192449.0,,,BETRAT,...,126.27,145.31,155.05,139.99,156.1,140.84,157.16,141.7,161.56,NEGATIVA
396077,396078,09-2019,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210033,7898430193071.0,,,BETRAT,...,189.4,217.95,232.57,209.98,234.13,211.25,235.73,212.54,242.31,NEGATIVA
396078,396079,09-2019,NITRATO DE TIAMINA;CLORIDRATO DE PIRIDOXINA;CI...,17.440.261/0001-25,MYRALIS INDÚSTRIA FARMACÊUTICA LTDA,1146200210041,7898430192432.0,,,BETRAT,...,33.44,38.48,41.07,37.08,41.34,37.3,41.62,37.52,42.78,NEGATIVA
396079,396080,09-2019,CEMIPLIMABE,10.588.595/0010-92,SANOFI MEDLEY FARMACÊUTICA LTDA.,1832603030011,7891058022440.0,,,LIBTAYO,...,,,,,,,,,,NEGATIVA

In [44]:
prods_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [45]:
prods_pmc['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = prods_pmc['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.','').str.replace(',','.').astype(float)
prods_pmc

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\1638945906.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prods_pmc['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = prods_pmc['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.','').str.replace(',','.').astype(float)

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA]
Index: []

[0 rows x 46 columns]

In [46]:
prods_pmc['ANVISA'] = prods_pmc['ANVISA'].astype(str).str.replace(r'\.0$', '', regex=True)
prods_pmc['ANVISA']

Series([], Name: ANVISA, dtype: object)

In [47]:
df_pmc_merged = pd.merge(prods_pmc, df_pmc, left_on=['ANVISA', 'DATA_EFD'],
                        right_on=['REGISTRO', 'DATA'], how='left')

df_pmc_merged

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS]
Index: []

[0 rows x 68 columns]

In [48]:
df_pmc_merged.drop_duplicates()

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS]
Index: []

[0 rows x 68 columns]

In [49]:
df_pmc_merged.replace('', np.nan, inplace=True)

In [50]:
df_pmc_merged

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS]
Index: []

[0 rows x 68 columns]

In [51]:
df_pmc_merged['Código CEST'] = df_pmc_merged['Código CEST'].astype(str).str.replace(r'\.0$', '', regex=True)
df_pmc_merged[['Código CEST']]

Empty DataFrame
Columns: [Código CEST]
Index: []

In [52]:
desconto['CEST'] = desconto['CEST'].str.replace('.', '')
desconto

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\1311467151.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  desconto['CEST'] = desconto['CEST'].str.replace('.', '')

    ID     CEST          CATEGORIA LISTA_DE_CONSESSAO DESCONTO_PORCENTAGEM
0    1  1300100         Referência           Positiva                26.55
1    2  1300101         Referência           Negativa                11.98
2    3  1300102         Referência             Neutra                 7.71
3    4  1300200           Genérico           Positiva                41.36
4    5  1300201           Genérico           Negativa                27.88
5    6  1300202           Genérico             Neutra                  0.0
6    7  1300300            Similar           Positiva                25.56
7    8  1300301            Similar           Negativa                16.16
8    9  1300302            Similar             Neutra                  7.1
9   10  1300400             Outros           Positiva                25.56
10  11  1300401             Outros           Negativa                16.16
11  12  1300402             Outros             Neutra                  7.1
12  13  1300500         Referência           Positiva                26.55
13  14  1300501  Referência/Outros           Negativa                11.98
14  15  1300502           Genérico           Positiva                41.36
15  16  1300503           Genérico           Negativa                27.88
16  17  1300504            Similar           Positiva                25.56
17  18  1300505            Similar           Negativa                16.16

In [53]:
novo_df_pmc = df_pmc_merged.merge(desconto[['CEST', 'DESCONTO_PORCENTAGEM']],
                             left_on='Código CEST', right_on='CEST', how='left')
novo_df_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM]
Index: []

[0 rows x 70 columns]

In [54]:
novo_df_pmc['Quantidade Comercial'] = novo_df_pmc['Quantidade Comercial'].str.replace(',0000','').astype(int)
novo_df_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM]
Index: []

[0 rows x 70 columns]

In [55]:
novo_df_pmc['ALIQUOTA'] = novo_df_pmc['ALIQUOTA'].astype(float).fillna(0)
novo_df_pmc['DESCONTO_PORCENTAGEM'] = novo_df_pmc['DESCONTO_PORCENTAGEM'].astype(float).fillna(0)
novo_df_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM]
Index: []

[0 rows x 70 columns]

In [56]:
novo_df_pmc['PMC_0'] = pd.to_numeric(novo_df_pmc['PMC_0'].str.replace(',', '.'), errors='coerce')
novo_df_pmc['PMC_12'] = pd.to_numeric(novo_df_pmc['PMC_12'].str.replace(',', '.'), errors='coerce')
novo_df_pmc['PMC_17'] = pd.to_numeric(novo_df_pmc['PMC_17'].str.replace(',', '.'), errors='coerce')
novo_df_pmc['PMC_17_5'] = pd.to_numeric(novo_df_pmc['PMC_17_5'].str.replace(',', '.'), errors='coerce')
novo_df_pmc['PMC_18'] = pd.to_numeric(novo_df_pmc['PMC_18'].str.replace(',', '.'), errors='coerce')
novo_df_pmc['PMC_20'] = pd.to_numeric(novo_df_pmc['PMC_20'].str.replace(',', '.'), errors='coerce')

conditions = [
    novo_df_pmc['ALIQUOTA'] == 0,
    novo_df_pmc['ALIQUOTA'] == 7,
    novo_df_pmc['ALIQUOTA'] == 12,
    novo_df_pmc['ALIQUOTA'] == 17,
    novo_df_pmc['ALIQUOTA'] == 17.5,
    novo_df_pmc['ALIQUOTA'] == 18,
    novo_df_pmc['ALIQUOTA'] == 20,
    novo_df_pmc['ALIQUOTA'] == 25,
]

values = [
    novo_df_pmc['PMC_0'],
    novo_df_pmc['PMC_12'],
    novo_df_pmc['PMC_12'],
    novo_df_pmc['PMC_17'],
    novo_df_pmc['PMC_17_5'],
    novo_df_pmc['PMC_18'],
    novo_df_pmc['PMC_20'],
    novo_df_pmc['PMC_20']
]

# Use np.select() to assign the appropriate value to valor_pmc based on conditions
valor_pmc = np.select(conditions, values, default=novo_df_pmc['ALIQUOTA']).astype(float)
novo_df_pmc['PMC'] = valor_pmc
# Calculate 'vbcst' column using vectorized arithmetic
novo_df_pmc['vBCST'] = novo_df_pmc['Quantidade Comercial'] * (novo_df_pmc['PMC'] * (1 - (novo_df_pmc['DESCONTO_PORCENTAGEM'] / 100)))
    
novo_df_pmc

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST]
Index: []

[0 rows x 72 columns]

In [57]:
novo_df_pmc['CHAVE_ITEM'] = novo_df_pmc['CHAVE_ORIGINAL'].astype(str) + '-' + novo_df_pmc['COD_DO_ITEM'].astype(str)

# Filter out rows with NaN values in 'PMC' column
pmc_not_null = novo_df_pmc[novo_df_pmc['PMC'].notnull()]

# Use groupby and idxmax to efficiently get rows with the highest 'PMC' for each 'CHAVE_ITEM'
df_pmc_filt = pmc_not_null.loc[pmc_not_null.groupby('CHAVE_ITEM')['PMC'].idxmax()]

# Reset the index of the final DataFrame
df_pmc_filt.reset_index(drop=True, inplace=True)
df_pmc_filt

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM]
Index: []

[0 rows x 73 columns]

In [58]:
df_pmc_null = novo_df_pmc[novo_df_pmc['PMC'].isnull()]
df_pmc_null['MVA_A_USAR'] = np.where((df_pmc_null['Data Emissão'] < df_pmc_null['DT_VALIDA']) | (df_pmc_null['MVA_DEPOIS'].isnull()),
                               df_pmc_null['MVA_ANTES'], df_pmc_null['MVA_DEPOIS'])

df_pmc_null

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR]
Index: []

[0 rows x 74 columns]

In [59]:
df_pmc_novo = pd.concat([df_pmc_filt, df_pmc_null])
df_pmc_novo

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR]
Index: []

[0 rows x 74 columns]

In [60]:
df_pmc_novo[df_pmc_novo['vBCST'].isnull()]

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR]
Index: []

[0 rows x 74 columns]

In [61]:
df_pmc_novo['MVA_A_USAR'] = pd.to_numeric(df_pmc_novo['MVA_A_USAR'], errors='coerce')
df_pmc_novo['Valor Produto ou Serviço'] = df_pmc_novo['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

def calculate_vBCST_final(row):
    if math.isnan(row['vBCST']):  # Check if vBCST is not null
        return row['Valor Produto ou Serviço'] * ((row['MVA_A_USAR'] / 100) + 1)
    else:
        return row['vBCST']

# Apply the function to create the new column 'vBCST_final'
df_pmc_novo['vBCST_final'] = df_pmc_novo.apply(calculate_vBCST_final, axis=1)

df_pmc_novo

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\2161534856.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_pmc_novo['Valor Produto ou Serviço'] = df_pmc_novo['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final]
Index: []

[0 rows x 75 columns]

In [62]:
df_pmc_novo['vPMC'] = np.where(df_pmc_novo['PMC'].notnull(),
                              df_pmc_novo['PMC'],
                              df_pmc_novo['MVA_A_USAR'])

df_pmc_novo

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final, vPMC]
Index: []

[0 rows x 76 columns]

In [63]:
df_pmc_novo[df_pmc_novo['vBCST_final'].notnull()]

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final, vPMC]
Index: []

[0 rows x 76 columns]

In [64]:
df_pmc_novo['vBCST_Complementar'] = np.where(df_pmc_novo['vBCST'].notnull(),
                                             df_pmc_novo['vBCST'],
                                             df_pmc_novo['vBCST_final'])
df_pmc_novo

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final, vPMC, vBCST_Complementar]
Index: []

[0 rows x 77 columns]

In [65]:
df_pmc_novo = df_pmc_novo[df_pmc_novo['vBCST_Complementar'] >= 0]
df_pmc_novo

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final, vPMC, vBCST_Complementar]
Index: []

[0 rows x 77 columns]

In [66]:
df_pmc_novo['ICMS_ST'] = df_pmc_novo['vBCST_Complementar'] * (df_pmc_novo['ALIQUOTA']/100)
df_pmc_novo

Empty DataFrame
Columns: [ID_x, LOJA, DATA_EFD, DATA_ENTRADA, DATA_SAIDA, CHAVE_ORIGINAL, COD_DO_ITEM, CODPROF, CFOP, DESC_PROD, QUANTI_EFDS, EAN_x, NCM_x, ICMS, CEST_x, Unnamed: 0, Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, EAN_y, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, Produto, ID_y, ANVISA, NCM_y, CEST_y, CODIGO_DO_PRODUTO, DESCRICAO, ALIQUOTA, MVA_ANTES, MVA_DEPOIS, DT_VALIDA, ID, DATA, SUBSTANCIA, CNPJ, LABORATORIO, REGISTRO, EAN_1, EAN_2, EAN_3, PRODUTO, APRESENTACAO, TIPO_PRODUTO, PMC_0, PMC_12, PMC_17, PMC_17_ALC, PMC_17_5, PMC_17_5_ALC, PMC_18, PMC_18_ALC, PMC_20, LISTA_CONCESSAO_PIS_COFINS, CEST, DESCONTO_PORCENTAGEM, PMC, vBCST, CHAVE_ITEM, MVA_A_USAR, vBCST_final, vPMC, vBCST_Complementar, ICMS_ST]
Index: []

[0 rows x 78 columns]

In [67]:
df_pmc_novo = df_pmc_novo[['Chave Acesso NFe', 'Número Item', 'EAN_y', 'Produto',
                       'Quantidade Comercial', 'Valor Produto ou Serviço','Valor Base Cálculo ICMS ST Retido Operação Anterior',
                       'ANVISA', 'vBCST_Complementar','ALIQUOTA', 'DESCONTO_PORCENTAGEM',
                           'ICMS_ST', 'vPMC']]

df_pmc_novo

Empty DataFrame
Columns: [Chave Acesso NFe, Número Item, EAN_y, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, ANVISA, vBCST_Complementar, ALIQUOTA, DESCONTO_PORCENTAGEM, ICMS_ST, vPMC]
Index: []

In [68]:
df_pmc_novo.rename(columns={'Número Item': 'Item NFE Origem',
                                'EAN_y':'EAN',
                                'vBCST_Complementar': 'ICMS ST Retido-Base de Cálculo',
                                'ICMS_ST': 'ICMS ST Retido- Valor'}, inplace=True)

df_pmc_novo

C:\Users\vinic\AppData\Local\Temp\ipykernel_15500\4082397282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pmc_novo.rename(columns={'Número Item': 'Item NFE Origem',

Empty DataFrame
Columns: [Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, ANVISA, ICMS ST Retido-Base de Cálculo, ALIQUOTA, DESCONTO_PORCENTAGEM, ICMS ST Retido- Valor, vPMC]
Index: []

In [69]:
df_pmc_novo['Valor Produto ou Serviço'] = df_pmc_novo['Valor Produto ou Serviço'].astype(str)
df_pmc_novo['ICMS ST Retido-Base de Cálculo'] = df_pmc_novo['ICMS ST Retido-Base de Cálculo'].round(2).astype(str)
df_pmc_novo['ICMS ST Retido- Valor'] = df_pmc_novo['ICMS ST Retido- Valor'].round(2).astype(str)
df_pmc_novo['ALIQUOTA'] = df_pmc_novo['ALIQUOTA'].astype(float)

df_pmc_novo

Empty DataFrame
Columns: [Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, ANVISA, ICMS ST Retido-Base de Cálculo, ALIQUOTA, DESCONTO_PORCENTAGEM, ICMS ST Retido- Valor, vPMC]
Index: []

In [70]:
complementar = pd.concat([df_pmc_novo, mva_complementar])
complementar

Empty DataFrame
Columns: [Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, ANVISA, ICMS ST Retido-Base de Cálculo, ALIQUOTA, DESCONTO_PORCENTAGEM, ICMS ST Retido- Valor, vPMC]
Index: []

In [71]:
complementar.to_excel(f'Loja_{loja}/complementar_loja_{loja}_v1.xlsx')

In [72]:
engine.dispose()