In [1]:
# Importação das bibliotecas necessárias

import pandas as pd
from openpyxl import load_workbook
import numpy as np
from time import time

In [2]:
# Definicção de qual loja irá rodar o script
start=time()
loja = 63

In [3]:
# Leitura do arquivo da tabela 2

tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_vteste.csv')
tabela_2.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2105188051.py:3: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_vteste.csv')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
0,2,35191071605265000242550020000049781157967795,2019-10-01,1411,1,216705,0,-1,1,NaN,...,0.0,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,1300101.0,7.160527e+13,0.0,NaN,entrada_oprprp
1,3,35191071605265000242550020000049781157967795,2019-10-01,1411,2,216705,0,-1,1,NaN,...,0.0,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,1300101.0,7.160527e+13,0.0,NaN,entrada_oprprp
2,4,35191071605265000242550020000049831158044089,2019-10-02,1411,1,69898,0,-1,1,NaN,...,0.0,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,1300301.0,7.160527e+13,0.0,NaN,entrada_oprprp
3,5,35191071605265000242550020000049841158075089,2019-10-03,1411,1,135673,0,-1,1,NaN,...,0.0,Esogastro Ibp 20mg 84S,SEM GTIN,UN,30049099.0,1300301.0,7.160527e+13,0.0,NaN,entrada_oprprp
4,6,35191071605265000242550020000049891158086516,2019-10-03,1411,1,185702,0,-1,1,NaN,...,0.0,Dexilant 60mg 60S Takeda,SEM GTIN,UN,30039033.0,0.0,7.160527e+13,0.0,NaN,entrada_oprprp

In [4]:
tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, False])
tabela_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
214155,35191271605265000242590003519330916642468850,2019-12-23,5405,1,18,1,1,1,NaN,NaN,...,0.0,2294 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
138866,35200171605265000242590006721510483174585808,2020-01-27,5405,1,18,1,1,1,NaN,NaN,...,0.0,1006 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
259076,35200171605265000242590006721510484210083682,2020-01-27,5405,15,18,1,1,1,NaN,NaN,...,0.0,2669 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
259077,35200171605265000242590006721510484210083682,2020-01-27,5405,16,18,1,1,1,NaN,NaN,...,0.0,2669 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
259078,35200171605265000242590006721510484210083682,2020-01-27,5405,17,18,1,1,1,NaN,NaN,...,0.0,2669 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131980,35201271605265000242590003519331309428707136,2020-12-15,5405,1,935908,1,1,1,NaN,NaN,...,0.0,1006 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
131982,35201271605265000242590006721510835754036640,2020-12-15,5405,1,935908,1,1,1,NaN,NaN,...,0.0,1006 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
131983,35201271605265000242590006721510835754036640,2020-12-15,5405,3,935908,1,1,1,NaN,NaN,...,0.0,1006 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
381472,35201271605265000242590006721510844913169435,2020-12-20,5405,1,935908,1,1,1,NaN,NaN,...,0.0,46890 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
381473,35201271605265000242590006721510844913169435,2020-12-20,5405,2,935908,1,1,1,NaN,NaN,...,0.0,46890 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe

In [5]:
tabela_2.columns

Index(['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER',
       'SUB_TIPO', 'QTD_CAT', 'QTD_EFD', 'ICMS_TOT', 'VL_CONFR_0', 'COD_LEGAL',
       'ALIQUOTA', 'VALOR',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Valor Complementar', 'Valor ICMS Substituição Tributária',
       'Valor ICMS Operação', 'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M',
       'CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
       'Valor Base Cálculo ICMS Substituição Tributária', 'FONTE'],
      dtype='object')

In [6]:
tabela_2['QTD_INI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_INI'] = [np.nan]*tabela_2.shape[0]
tabela_2['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_0'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_1'] = [np.nan]*tabela_2.shape[0]
tabela_2['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_SAIDA'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_UNIT'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_1'] = [np.nan]*tabela_2.shape[0]
tabela_2['QTD_SALDO'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_SALDO'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_COMPLEMENTO'] = [np.nan]*tabela_2.shape[0]
tabela_2['COD_LEGAL_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2.shape[0]
tabela_2['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2.shape[0]


tabela_2_final = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM',
                          'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                          'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
                          'ICMS_TOT_0', 'ICMS_TOT_ent_unit','ULT_ICMS_TOT_ent_unit',
                          'ICMS_TOT_1', 'qtd_saida_1_devolv_saida','ICMS_SAIDA_UNI',
                          'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT',
                          'VL_CONFR_0', 'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT',
                          'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                          'VLR_COMPLEMENTO', 'COD_LEGAL', 'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT',
                          'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS','ALIQUOTA',
                          'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                          'Valor Complementar', 'Valor ICMS Substituição Tributária',
                          'Valor ICMS Operação', 'ICMS_TOT']]
tabela_2_final

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
214155,35191271605265000242590003519330916642468850,2019-12-23,5405,1,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,19.96,0.0,NaN,0.0,0.0,NaN
138866,35200171605265000242590006721510483174585808,2020-01-27,5405,1,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,20.68,0.0,NaN,0.0,0.0,NaN
259076,35200171605265000242590006721510484210083682,2020-01-27,5405,15,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,16.96,0.0,NaN,0.0,0.0,NaN
259077,35200171605265000242590006721510484210083682,2020-01-27,5405,16,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,16.96,0.0,NaN,0.0,0.0,NaN
259078,35200171605265000242590006721510484210083682,2020-01-27,5405,17,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,16.96,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131980,35201271605265000242590003519331309428707136,2020-12-15,5405,1,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.91,0.0,NaN,0.0,0.0,NaN
131982,35201271605265000242590006721510835754036640,2020-12-15,5405,1,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.91,0.0,NaN,0.0,0.0,NaN
131983,35201271605265000242590006721510835754036640,2020-12-15,5405,3,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.91,0.0,NaN,0.0,0.0,NaN
381472,35201271605265000242590006721510844913169435,2020-12-20,5405,1,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.91,0.0,NaN,0.0,0.0,NaN
381473,35201271605265000242590006721510844913169435,2020-12-20,5405,2,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.91,0.0,NaN,0.0,0.0,NaN

In [7]:
tabela_2_sheet_2 = tabela_2[['DATA', 'COD_ITEM', 'IND_OPER','SUB_TIPO', 'QTD_CAT', 'ICMS_TOT_0']]
tabela_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['SALDO'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_sheet_2.shape[0]

tabela_2_sheet_2_final = tabela_2_sheet_2[['DATA', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'ESPECIE_OPER',
                                           'QTD_CAT', 'ICMS_TOT_0', 'SALDO','SALDO_MIN',
                                          'QTD_INI', 'VALOR_UNIT']]

tabela_2_sheet_2_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2559983322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2559983322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['SALDO'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2559983322.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2559983322.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_13892\2559983322.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_sheet_2.shape[0]

,DATA,COD_ITEM,IND_OPER,SUB_TIPO,ESPECIE_OPER,QTD_CAT,ICMS_TOT_0,SALDO,SALDO_MIN,QTD_INI,VALOR_UNIT
214155,2019-12-23,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
138866,2020-01-27,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
259076,2020-01-27,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
259077,2020-01-27,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
259078,2020-01-27,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
131980,2020-12-15,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
131982,2020-12-15,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
131983,2020-12-15,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
381472,2020-12-20,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
381473,2020-12-20,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN

In [8]:
path = f'Loja_{loja}/ficha_3_loja_{loja}_vteste.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    tabela_2_final.to_excel(writer, sheet_name='ficha3', index=False)
    tabela_2_sheet_2_final.to_excel(writer, sheet_name='qtde', index=False)

In [9]:
end = time()

print(end-start)

160.36543774604797