In [1]:
# Importação das bibliotecas necessárias

import pandas as pd
import numpy as np

In [2]:
# Definicção de qual loja irá rodar o script

loja = 132

In [3]:
# Leitura do arquivo da tabela 2

tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')
tabela_2.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\629038885.py:3: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
0,43,35191023164780000100550020000018751157965885,2019-10-01,1411,1,812644,0,-1,1,NaN,...,0.0,Betametasona Prati 120ml,SEM GTIN,UN,30043999.0,1300200.0,2.316478e+13,0.0,NaN,entrada_oprprp
1,44,35191023164780000100550020000018771158020579,2019-10-02,1411,1,805093,0,-1,1,NaN,...,0.0,Tint Cor Ton 6.0 Kit Basico,SEM GTIN,UN,33059000.0,2801400.0,2.316478e+13,0.0,NaN,entrada_oprprp
2,45,35191023164780000100550020000018781158103269,2019-10-03,1411,1,818641,0,-1,1,NaN,...,0.0,Umckan 825mg Sol.20ml Farmoqui,SEM GTIN,UN,30049099.0,1300301.0,2.316478e+13,0.0,NaN,entrada_oprprp
3,46,35191023164780000100550020000018791158112265,2019-10-03,1411,1,83626,0,-1,1,NaN,...,0.0,Torsilax 12S Neo Quimica,SEM GTIN,UN,30049049.0,1300301.0,2.316478e+13,0.0,NaN,entrada_oprprp
4,47,35191023164780000100550020000018801158181900,2019-10-04,1411,1,210609,0,-1,3,NaN,...,0.0,Citr.Sildenafila 50mg 4S Prat,SEM GTIN,UN,30049099.0,1300200.0,2.316478e+13,0.0,NaN,entrada_oprprp

In [4]:
tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, False])
tabela_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
268643,35191223164780000100590000692702510119974919,2019-12-25,5405,3,18,1,1,1,NaN,NaN,...,0.0,4484 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
268644,35191223164780000100590000692702510119974919,2019-12-25,5405,4,18,1,1,1,NaN,NaN,...,0.0,4484 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
27680,35191227849963000110550010006565721006545070,2019-12-29,1403,2,18,0,1,1,1.0,6.2514,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,2.316478e+13,NaN,entrada_sp
239499,35200523164780000100590004371011520049208707,2020-05-19,5405,1,18,1,1,1,NaN,NaN,...,0.0,44222 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
69757,35200527849963000110550010007944891007918857,2020-05-22,1403,1,18,0,1,1,1.0,6.2676,...,0.0,DEPAKENE 250MG 25'S ABB C1,NaN,UN,30049099.0,1300100.0,2.784996e+13,2.316478e+13,NaN,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355469,35200423164780000100590000692702832438719793,2020-04-30,5405,1,935502,1,1,1,NaN,NaN,...,0.0,49630 - NEUTROG DCLEAN 80G S,7891010895013.0,UN,34011190.0,NaN,NaN,NaN,NaN,dfe
190458,35200523164780000100590000692702922560724839,2020-05-28,5405,3,935502,1,1,1,NaN,NaN,...,0.0,39227 - NEUTROG DCLEAN 80G SB ENERGIZ,7891010895013.0,UN,34011190.0,NaN,NaN,NaN,NaN,dfe
355471,35200623164780000100590000692702993878579545,2020-06-21,5405,2,935502,1,1,1,NaN,NaN,...,0.0,49630 - NEUTROG DCLEAN 80G SB ENERGIZ,7891010895013.0,UN,34011190.0,NaN,NaN,NaN,NaN,dfe
127761,35201127849963000110550010009984851009950262,2020-11-28,1403,95,935908,0,1,13,13.0,53.5524,...,0.0,ATORVASTATINA 20MG 30S EMS,NaN,UN,30049099.0,NaN,2.784996e+13,2.316478e+13,NaN,entrada_sp
262329,35201223164780000100590009386930159145653023,2020-12-10,5405,1,935908,1,1,1,NaN,NaN,...,0.0,4484 - ATORVASTATINA 20MG 30S EMS,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe

In [5]:
tabela_2.columns

Index(['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER',
       'SUB_TIPO', 'QTD_CAT', 'QTD_EFD', 'ICMS_TOT', 'VL_CONFR_0', 'COD_LEGAL',
       'ALIQUOTA', 'VALOR',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Valor Complementar', 'Valor ICMS Substituição Tributária',
       'Valor ICMS Operação', 'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M',
       'CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
       'Valor Base Cálculo ICMS Substituição Tributária', 'FONTE'],
      dtype='object')

In [6]:
tabela_2['QTD_INI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_INI'] = [np.nan]*tabela_2.shape[0]
tabela_2['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_0'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_1'] = [np.nan]*tabela_2.shape[0]
tabela_2['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_SAIDA'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_UNIT'] = [np.nan]*tabela_2.shape[0]
tabela_2['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_1'] = [np.nan]*tabela_2.shape[0]
tabela_2['QTD_SALDO'] = [np.nan]*tabela_2.shape[0]
tabela_2['ICMS_TOT_SALDO'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_COMPLEMENTO'] = [np.nan]*tabela_2.shape[0]
tabela_2['COD_LEGAL_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['VLR_CONFR_PCAT'] = [np.nan]*tabela_2.shape[0]
tabela_2['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2.shape[0]
tabela_2['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2.shape[0]


tabela_2_final = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM',
                          'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                          'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
                          'ICMS_TOT_0', 'ICMS_TOT_ent_unit','ULT_ICMS_TOT_ent_unit',
                          'ICMS_TOT_1', 'qtd_saida_1_devolv_saida','ICMS_SAIDA_UNI',
                          'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT',
                          'VL_CONFR_0', 'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT',
                          'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                          'VLR_COMPLEMENTO', 'COD_LEGAL', 'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT',
                          'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS','ALIQUOTA',
                          'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                          'Valor Complementar', 'Valor ICMS Substituição Tributária',
                          'Valor ICMS Operação', 'ICMS_TOT']]
tabela_2_final

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
268643,35191223164780000100590000692702510119974919,2019-12-25,5405,3,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,20.68,0.00,NaN,0.0,0.0,NaN
268644,35191223164780000100590000692702510119974919,2019-12-25,5405,4,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,20.68,0.00,NaN,0.0,0.0,NaN
27680,35191227849963000110550010006565721006545070,2019-12-29,1403,2,18,0,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,15.45,17.07,17.66,0.0,0.0,NaN
239499,35200523164780000100590004371011520049208707,2020-05-19,5405,1,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,21.65,0.00,NaN,0.0,0.0,NaN
69757,35200527849963000110550010007944891007918857,2020-05-22,1403,1,18,0,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,16.02,17.16,17.66,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355469,35200423164780000100590000692702832438719793,2020-04-30,5405,1,935502,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,6.99,0.00,NaN,0.0,0.0,NaN
190458,35200523164780000100590000692702922560724839,2020-05-28,5405,3,935502,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,6.99,0.00,NaN,0.0,0.0,NaN
355471,35200623164780000100590000692702993878579545,2020-06-21,5405,2,935502,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,6.99,0.00,NaN,0.0,0.0,NaN
127761,35201127849963000110550010009984851009950262,2020-11-28,1403,95,935908,0,1,13,NaN,NaN,...,NaN,NaN,NaN,12.0,119.34,406.38,39.89,0.0,0.0,NaN
262329,35201223164780000100590009386930159145653023,2020-12-10,5405,1,935908,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,21.90,0.00,NaN,0.0,0.0,NaN

In [7]:
tabela_2_sheet_2 = tabela_2[['DATA', 'COD_ITEM', 'IND_OPER','SUB_TIPO', 'QTD_CAT', 'ICMS_TOT_0']]
tabela_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['SALDO'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_sheet_2.shape[0]
tabela_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_sheet_2.shape[0]

tabela_2_sheet_2_final = tabela_2_sheet_2[['DATA', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'ESPECIE_OPER',
                                           'QTD_CAT', 'ICMS_TOT_0', 'SALDO','SALDO_MIN',
                                          'QTD_INI', 'VALOR_UNIT']]

tabela_2_sheet_2_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\2559983322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\2559983322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['SALDO'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\2559983322.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\2559983322.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_14076\2559983322.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_sheet_2.shape[0]

,DATA,COD_ITEM,IND_OPER,SUB_TIPO,ESPECIE_OPER,QTD_CAT,ICMS_TOT_0,SALDO,SALDO_MIN,QTD_INI,VALOR_UNIT
268643,2019-12-25,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
268644,2019-12-25,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
27680,2019-12-29,18,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN
239499,2020-05-19,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
69757,2020-05-22,18,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
355469,2020-04-30,935502,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
190458,2020-05-28,935502,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
355471,2020-06-21,935502,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
127761,2020-11-28,935908,0,1,NaN,13,NaN,NaN,NaN,NaN,NaN
262329,2020-12-10,935908,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN

In [8]:
path = f'Loja_{loja}/ficha_3_loja_{loja}_v1.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    tabela_2_final.to_excel(writer, sheet_name='ficha3', index=False)
    tabela_2_sheet_2_final.to_excel(writer, sheet_name='qtde', index=False)