In [1]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import datetime
import sys

In [2]:
# Definição de qual loja irá rodar o script

loja = 107
periodo = 0

In [3]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias

connection = psycopg2.connect(
        user="cat",
        password="5pM2h0MBQu9JHkxHud2A",
        host="177.11.49.194",
        port="3361",
        database="cat"
    )

In [4]:
# Leitura da tabela 1 gerada em etapa anterior
tabela_1 = pd.read_csv(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\loja_{loja}_tabela_1_p{periodo}.csv',encoding='utf-8', dtype=str)
tabela_1['Código Produto ou Serviço'] = tabela_1['Código Produto ou Serviço'].astype(str)
tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000","98,19","7,01",NaN,NaN,NaN,Vitamina D 250mg 60S Mcg,7898952601153,UN,21069030,2804100.0,71605265000404,NaN,entrada_oprprp
1,1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000","144,74",NaN,NaN,NaN,"137,5",Siluestat Ems 120mg 42S,7896004754017,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp
2,2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000","40,05",NaN,NaN,NaN,"43,25",Lioresal 10mg 20S Novartis,7896261000520,UN,30049099,1300100.0,71605265000404,NaN,entrada_oprprp
3,3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000","190,75",NaN,NaN,NaN,"342,3",Clor Tramadol Novaq 50mg 10S,7895296014014,UN,30039049,1300200.0,71605265000404,NaN,entrada_oprprp
4,4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000","19,78",NaN,NaN,NaN,"16,1",Ems Exp 120ml,7896004727806,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp

In [5]:
tabela_1[tabela_1['Quantidade Comercial'] == '2,4000']

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
135193,134309,35180312949245000149550010000025761000025768,2018-03-28,1,19,5102,"2,4000",504,NaN,NaN,NaN,NaN,"Capacho Vermelho Pers. 2,00m x 1,20m",,MT2,39181000,100300.0,12949245000149,71605265000404,entrada_sp

In [6]:
tabela_1.shape

(448586, 20)

In [7]:
tabela_1[tabela_1['Tipo'] == 'dfe']

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
150550,1,35171271605265000404590003182980144825488100,2017-12-07,8,163360,5102,"1,0000","96,70","17,41",NaN,NaN,NaN,100% PURE WHEY 900G CHOCOLATE,NaN,UN,NaN,NaN,NaN,NaN,dfe
150551,363713,35161171605265000404590000765420350893368228,2016-11-14,2,144055,5102,"1,0000","39,77","7,16",NaN,NaN,NaN,20 BI 10.S EUROFARMA,NaN,UN,NaN,NaN,NaN,NaN,dfe
150552,363714,35171271605265000404590003182980159939626437,2017-12-15,1,144055,5102,"1,0000","44,58","8,02",NaN,NaN,NaN,20 BI 10.S EUROFARMA,NaN,UN,NaN,NaN,NaN,NaN,dfe
150553,363715,35180271605265000404590000765421021295772480,2018-02-12,1,144055,5102,"1,0000","43,48","7,83",NaN,NaN,NaN,20 BI 10.S MOMENTA,NaN,UN,NaN,NaN,NaN,NaN,dfe
150554,363716,35180271605265000404590000765421039728938480,2018-02-27,1,144055,5102,"1,0000","42,95","7,73",NaN,NaN,NaN,20 BI 10.S MOMENTA,NaN,UN,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447119,1394705,35171171605265000404590000765420904279712605,2017-11-21,2,911511,5405,"1,0000","47,84",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
447120,1394706,35171271605265000404590003182980162934979676,2017-12-16,2,911511,5405,"1,0000","44,93",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
447121,1394707,35180171605265000404590000765421002804031289,2018-01-26,1,911511,5405,"1,0000","44,27",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
447122,1394708,35180471605265000404590003180720277284598127,2018-04-03,8,911511,5405,"1,0000","44,93",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
447123,1394709,35180471605265000404590003180720310339435319,2018-04-24,2,911511,5405,"1,0000","45,64",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe

In [8]:
# Leitura do arquivo da complementar 
complementar = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\complementar_loja_{loja}_p{periodo}_v1.xlsx', dtype=str)
complementar['Produto'] = complementar['Produto'].astype(str)
complementar['Item NFE Origem'] = complementar['Item NFE Origem'].astype(int)
complementar

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,vPMC,ANVISA,vBCST,ICMS ST Retido-Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor,DESCONTO_PORCENTAGEM
0,0,35161205651966000455550160005470271368847484,53,7896261010222,839597,"1,0000",18.37,20.49,35.72,NaN,24.931764,4.44,18,0.8,NaN
1,3,35161205651966000455550160005470271368847484,56,7899337000202,92544,"3,0000",455.64,517.6,34.06,NaN,610.830984,93.23,18,16.78,NaN
2,4,35161205651966000455550160005470271368847484,57,7896046300067,792952,"1,0000",30.03,33.21,35.72,NaN,40.756716,7.55,18,1.36,NaN
3,8,35161245453214001042550120009983501009983503,4,7891317477141,1537,"2,0000",41.98,0,35.72,NaN,56.97525599999999,56.98,18,10.26,NaN
4,10,35161245453214001042550120009983501009983503,6,8902220106079,785683,"1,0000",15.67,0,34.64,NaN,21.098088,21.1,18,3.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133519,52335,35161118966338000168550010001873891001530599,40,7891721019944,905794,10,48.1,NaN,273.95,1008903920663,179.86995,179.87,12,21.58,0
133520,52336,35180105651966000455550200003455321439983250,31,7891058001155,3103,2,28.14,31.46,34.06,1832604010014,37.724484,37.72,18,6.79,11.98
133521,52338,35180105651966000455550200003455321439983250,36,7891106906012,859850,1,14.94,17.68,34.06,1832603510498,20.028564,20.03,18,3.61,25.56
133522,52349,35180105651966000455550200003504331440197169,15,7896015523398,760702,2,175.06,195.76,38.48,1057305900128,242.423088,242.42,18,43.64,11.98
133523,52353,35180401206820000520550030060121471238065658,4,7897595903730,50286,1,70.69,76.65,35.72,1832603690161,95.940468,95.94,18,17.27,16.16

In [9]:
# # Leitura da complementar Mauricio

# complementar = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\NFC_loja_{loja}.xlsx')
# complementar

In [10]:
# Leitura da tabela da efd_mod55 para um data frame

query = f'SELECT * FROM tabela_efds_modelo55_p{periodo} WHERE "LOJA"::integer = {loja};'

efd = pd.read_sql_query(query, connection)
if efd.shape[0] == 0:
    print(f'Tabela modelo 55 da loja {loja} não consta no banco. Favor verificar')
    sys.exit()
efd

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2411405639.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  efd = pd.read_sql_query(query, connection)

,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROD,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,107,10-2016,None,None,35161071605265000404550020000009501120590087,None,None,None,None,None,None,None,None,None
1,107,10-2016,None,None,35161071605265000404550020000009511120592788,None,None,None,None,None,None,None,None,None
2,107,10-2016,None,None,35161071605265000404550020000009521120616544,None,None,None,None,None,None,None,None,None
3,107,10-2016,None,None,35161071605265000404550020000009531120625915,None,None,None,None,None,None,None,None,None
4,107,10-2016,None,None,35161071605265000404550020000009551120659296,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153322,107,04-2018,27/04/2018,28/04/2018,35180401206820000520550030060121391238065656,3,752139,1403,LAMITOR 25MG 30'S TORRENT C1,1,8902220105423,30049069.0,18,13.003.00
153323,107,04-2018,27/04/2018,28/04/2018,35180401206820000520550030060121471238065658,1,49478,1403,ALPHAGAN 5ML ALLERGAN,1,7897316801017,30042099.0,18,13.001.00
153324,107,04-2018,27/04/2018,28/04/2018,35180401206820000520550030060121471238065658,2,871079,1403,AMATO 50MG 60'S EUROF C1,3,7891317443382,30049079.0,18,13.003.00
153325,107,04-2018,27/04/2018,28/04/2018,35180401206820000520550030060121471238065658,3,20396,1403,CELESTONE SOLUSPAN 1X1ML MANTE,1,7891142128638,30043210.0,18,13.001.00
153326,107,04-2018,27/04/2018,28/04/2018,35180401206820000520550030060121471238065658,4,50286,1403,PEPSAMAR 10'S SANOFI/OTC,20,None,30049099.0,18,13.003.01

In [11]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(str)

In [12]:
# Leitura da tabela da efd_mod59 para um data frame

query = f'SELECT * FROM tabela_efds_modelo59_p{periodo} WHERE "LOJA"::integer = {loja}'

efd_mod59 = pd.read_sql_query(query, connection)
if efd_mod59.shape[0] == 0:
    print(f'Tabela modelo 59 da loja {loja} não consta no banco. Favor verificar')
    sys.exit()
efd_mod59

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\173218681.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  efd_mod59 = pd.read_sql_query(query, connection)

,LOJA,PERIODO,REG,COD_MOD,COD_SIT,NUM_CFE,DT_DOC,VL_CFE,VL_PIS,VL_COFINS,CNPJ_CPF,NR_SAT,CHV_CFE,VL_DESC,VL_MERC,VL_OUT_DA,VL_ICMS,VL_PIS_ST,VL_COFINS_ST
0,107,10-2016,C800,59,00,33413,14/10/2016,"73,98","0,19","0,86",None,76542,35161071605265000404590000765420334130821130,"22,05","96,03",0,0,0,0
1,107,11-2016,C800,59,00,36106,25/11/2016,"32,14",None,None,19450975825,76542,35161171605265000404590000765420361064737807,"8,5","40,64",0,0,0,0
2,107,11-2016,C800,59,00,36107,25/11/2016,"2,18",None,None,None,76542,35161171605265000404590000765420361079439262,"9,2","11,38",0,0,0,0
3,107,11-2016,C800,59,00,36108,25/11/2016,"29,98",None,None,None,76542,35161171605265000404590000765420361081457949,"16,16","46,14",0,0,0,0
4,107,11-2016,C800,59,00,36109,25/11/2016,"26,59",None,None,38265982887,76542,35161171605265000404590000765420361094950517,"8,87","35,46",0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154158,107,04-2018,C800,59,00,43048,30/04/2018,"83,36","1,3",6,None,318298,35180471605265000404590003182980430482204032,"161,83","245,19",0,"14,22",0,0
154159,107,04-2018,C800,59,00,43049,30/04/2018,"41,8",0,0,None,318298,35180471605265000404590003182980430496403580,"13,88","55,68",0,0,0,0
154160,107,04-2018,C800,59,00,43050,30/04/2018,"76,04","0,89","4,1",None,318298,35180471605265000404590003182980430500786522,"117,19","193,23",0,"9,72",0,0
154161,107,04-2018,C800,59,00,43051,30/04/2018,"7,48","0,03","0,15",None,318298,35180471605265000404590003182980430515890231,0,"7,48",0,0,0,0
154162,107,04-2018,C800,59,00,43052,30/04/2018,"1,19",0,0,None,318298,35180471605265000404590003182980430527368470,"5,79","6,98",0,0,0,0

In [13]:
efd_mod59['PERIODO'] = pd.to_datetime(efd_mod59['PERIODO'], format='%m-%Y')
efd_mod59['PERIODO'].unique()

array(['2016-10-01T00:00:00.000000000', '2016-11-01T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2017-02-01T00:00:00.000000000', '2017-03-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-07-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-04-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [14]:
efd['CODPROD'] = efd['CODPROD'].astype(str)

In [15]:
# Retirada dos valores negativos de base de calculo da complementar
#complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ICMS ST Retido-Base de Cálculo'].astype(float)
#complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido - Val'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido- Valor'].astype(float)
complementar_final = complementar[complementar['ICMS ST Retido-Base de Cálculo'] >= 0]
complementar_final

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,vPMC,ANVISA,vBCST,ICMS ST Retido-Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor,DESCONTO_PORCENTAGEM
0,0,35161205651966000455550160005470271368847484,53,7896261010222,839597,"1,0000",18.37,20.49,35.72,NaN,24.931764,4.44,18,0.80,NaN
1,3,35161205651966000455550160005470271368847484,56,7899337000202,92544,"3,0000",455.64,517.6,34.06,NaN,610.830984,93.23,18,16.78,NaN
2,4,35161205651966000455550160005470271368847484,57,7896046300067,792952,"1,0000",30.03,33.21,35.72,NaN,40.756716,7.55,18,1.36,NaN
3,8,35161245453214001042550120009983501009983503,4,7891317477141,1537,"2,0000",41.98,0,35.72,NaN,56.97525599999999,56.98,18,10.26,NaN
4,10,35161245453214001042550120009983501009983503,6,8902220106079,785683,"1,0000",15.67,0,34.64,NaN,21.098088,21.10,18,3.80,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133519,52335,35161118966338000168550010001873891001530599,40,7891721019944,905794,10,48.1,NaN,273.95,1008903920663,179.86995,179.87,12,21.58,0
133520,52336,35180105651966000455550200003455321439983250,31,7891058001155,3103,2,28.14,31.46,34.06,1832604010014,37.724484,37.72,18,6.79,11.98
133521,52338,35180105651966000455550200003455321439983250,36,7891106906012,859850,1,14.94,17.68,34.06,1832603510498,20.028564,20.03,18,3.61,25.56
133522,52349,35180105651966000455550200003504331440197169,15,7896015523398,760702,2,175.06,195.76,38.48,1057305900128,242.423088,242.42,18,43.64,11.98
133523,52353,35180401206820000520550030060121471238065658,4,7897595903730,50286,1,70.69,76.65,35.72,1832603690161,95.940468,95.94,18,17.27,16.16

In [16]:
# Formatação da coluna de data da tabela 1

tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'],format='%Y-%m-%d')
tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000","98,19","7,01",NaN,NaN,NaN,Vitamina D 250mg 60S Mcg,7898952601153,UN,21069030,2804100.0,71605265000404,NaN,entrada_oprprp
1,1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000","144,74",NaN,NaN,NaN,"137,5",Siluestat Ems 120mg 42S,7896004754017,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp
2,2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000","40,05",NaN,NaN,NaN,"43,25",Lioresal 10mg 20S Novartis,7896261000520,UN,30049099,1300100.0,71605265000404,NaN,entrada_oprprp
3,3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000","190,75",NaN,NaN,NaN,"342,3",Clor Tramadol Novaq 50mg 10S,7895296014014,UN,30039049,1300200.0,71605265000404,NaN,entrada_oprprp
4,4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000","19,78",NaN,NaN,NaN,"16,1",Ems Exp 120ml,7896004727806,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp

In [17]:
# Formatação da coluna Valor Produto ou Serviço para o tipo correto

tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\3894326555.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,"7,01",NaN,NaN,NaN,Vitamina D 250mg 60S Mcg,7898952601153,UN,21069030,2804100.0,71605265000404,NaN,entrada_oprprp
1,1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,NaN,NaN,NaN,"137,5",Siluestat Ems 120mg 42S,7896004754017,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp
2,2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,NaN,NaN,NaN,"43,25",Lioresal 10mg 20S Novartis,7896261000520,UN,30049099,1300100.0,71605265000404,NaN,entrada_oprprp
3,3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,NaN,NaN,NaN,"342,3",Clor Tramadol Novaq 50mg 10S,7895296014014,UN,30039049,1300200.0,71605265000404,NaN,entrada_oprprp
4,4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,NaN,NaN,NaN,"16,1",Ems Exp 120ml,7896004727806,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp

In [18]:
# Preenchimento da coluna IND_OPER da tabela 1

tabela_1['IND_OPER'] = np.where((tabela_1['Tipo'] == 'dfe') | (tabela_1['Tipo'] == 'saida_nfe'),
                            1, 0)

tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER
0,0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,"7,01",NaN,...,NaN,Vitamina D 250mg 60S Mcg,7898952601153,UN,21069030,2804100.0,71605265000404,NaN,entrada_oprprp,0
1,1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,NaN,NaN,...,"137,5",Siluestat Ems 120mg 42S,7896004754017,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp,0
2,2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,NaN,NaN,...,"43,25",Lioresal 10mg 20S Novartis,7896261000520,UN,30049099,1300100.0,71605265000404,NaN,entrada_oprprp,0
3,3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,NaN,NaN,...,"342,3",Clor Tramadol Novaq 50mg 10S,7895296014014,UN,30039049,1300200.0,71605265000404,NaN,entrada_oprprp,0
4,4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,NaN,NaN,...,"16,1",Ems Exp 120ml,7896004727806,UN,30049099,1300301.0,71605265000404,NaN,entrada_oprprp,0

In [19]:
tabela_1['Tipo'].value_counts()

dfe               296574
entrada_sp        149666
saida_nfe           1462
entrada_oprprp       877
entrada_outras         7
Name: Tipo, dtype: int64

In [20]:
# Preenchimento da coluna bc_complementar_total_complementar

tabela_1['Número Item'] = tabela_1['Número Item'].astype(str)
complementar_final['Item NFE Origem'] = complementar_final['Item NFE Origem'].astype(str)
bc_df = complementar_final[['Chave Acesso NFe', 'Item NFE Origem', 'vBCST', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
                    right_on=['Chave Acesso NFe', 'Item NFE Origem'], how='left')

# complementar_final['Item'] = complementar_final['Item'].astype(str)
# bc_df = complementar_final[['NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
# merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
#                     right_on=['NFref1', 'Item'], how='left')


merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df = merged_df.drop_duplicates()
merged_df

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\4244816747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complementar_final['Item NFE Origem'] = complementar_final['Item NFE Origem'].astype(str)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,Item NFE Origem,vBCST,ICMS ST Retido-Base de Cálculo,Produto,vPMC
0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,"7,01",NaN,NaN,...,2804100.0,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,NaN,NaN,NaN,...,1300301.0,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,NaN,NaN,NaN,...,1300100.0,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,NaN,NaN,NaN,...,1300200.0,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,NaN,NaN,NaN,...,1300301.0,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448581,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,NaN,NaN,NaN,...,2802300.0,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
448582,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,"5,06",NaN,NaN,...,2804100.0,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
448583,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,"2,14",NaN,NaN,...,2804100.0,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
448584,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,"0,72",NaN,NaN,...,2804300.0,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
448585,35180471605265000404550020000022751135760868,2018-04-28,1,24786,5411,"2,0000",32.80,NaN,NaN,NaN,...,1300101.0,71605265000404,27849963000110.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN

In [21]:
# Preenchimento da coluna bc_complementar_total_item_original

merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

merged_df['bc_complementar_total_item_original'] = merged_df['ICMS ST Retido-Base de Cálculo'] 
merged_df

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\4191433314.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\4191433314.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,Item NFE Origem,vBCST,ICMS ST Retido-Base de Cálculo,Produto,vPMC,bc_complementar_total_item_original
0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,7.01,NaN,NaN,...,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,0.00,NaN,NaN,...,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,0.00,NaN,NaN,...,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,0.00,NaN,NaN,...,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,0.00,NaN,NaN,...,71605265000404,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448581,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
448582,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
448583,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
448584,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,71605265000404,71605265000404.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
448585,35180471605265000404550020000022751135760868,2018-04-28,1,24786,5411,"2,0000",32.80,0.00,NaN,NaN,...,71605265000404,27849963000110.0,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
merged_df[merged_df['Tipo'] == 'dfe']

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,Item NFE Origem,vBCST,ICMS ST Retido-Base de Cálculo,Produto,vPMC,bc_complementar_total_item_original
150550,35171271605265000404590003182980144825488100,2017-12-07,8,163360,5102,"1,0000",96.70,17.41,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
150551,35161171605265000404590000765420350893368228,2016-11-14,2,144055,5102,"1,0000",39.77,7.16,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
150552,35171271605265000404590003182980159939626437,2017-12-15,1,144055,5102,"1,0000",44.58,8.02,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
150553,35180271605265000404590000765421021295772480,2018-02-12,1,144055,5102,"1,0000",43.48,7.83,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
150554,35180271605265000404590000765421039728938480,2018-02-27,1,144055,5102,"1,0000",42.95,7.73,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447119,35171171605265000404590000765420904279712605,2017-11-21,2,911511,5405,"1,0000",47.84,0.00,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
447120,35171271605265000404590003182980162934979676,2017-12-16,2,911511,5405,"1,0000",44.93,0.00,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
447121,35180171605265000404590000765421002804031289,2018-01-26,1,911511,5405,"1,0000",44.27,0.00,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
447122,35180471605265000404590003180720277284598127,2018-04-03,8,911511,5405,"1,0000",44.93,0.00,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN
447123,35180471605265000404590003180720310339435319,2018-04-24,2,911511,5405,"1,0000",45.64,0.00,NaN,NaN,...,NaN,NaN,dfe,1,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
efd['DATA_SAIDA'] = efd['DATA_SAIDA'].replace('', np.nan)
efd['DATA_SAIDA'] = pd.to_datetime(efd['DATA_SAIDA'], format='%d/%m/%Y')
efd

,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROD,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,107,10-2016,None,NaT,35161071605265000404550020000009501120590087,None,None,None,None,None,None,None,None,None
1,107,10-2016,None,NaT,35161071605265000404550020000009511120592788,None,None,None,None,None,None,None,None,None
2,107,10-2016,None,NaT,35161071605265000404550020000009521120616544,None,None,None,None,None,None,None,None,None
3,107,10-2016,None,NaT,35161071605265000404550020000009531120625915,None,None,None,None,None,None,None,None,None
4,107,10-2016,None,NaT,35161071605265000404550020000009551120659296,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153322,107,04-2018,27/04/2018,2018-04-28,35180401206820000520550030060121391238065656,3,752139,1403,LAMITOR 25MG 30'S TORRENT C1,1,8902220105423,30049069.0,18,13.003.00
153323,107,04-2018,27/04/2018,2018-04-28,35180401206820000520550030060121471238065658,1,49478,1403,ALPHAGAN 5ML ALLERGAN,1,7897316801017,30042099.0,18,13.001.00
153324,107,04-2018,27/04/2018,2018-04-28,35180401206820000520550030060121471238065658,2,871079,1403,AMATO 50MG 60'S EUROF C1,3,7891317443382,30049079.0,18,13.003.00
153325,107,04-2018,27/04/2018,2018-04-28,35180401206820000520550030060121471238065658,3,20396,1403,CELESTONE SOLUSPAN 1X1ML MANTE,1,7891142128638,30043210.0,18,13.001.00
153326,107,04-2018,27/04/2018,2018-04-28,35180401206820000520550030060121471238065658,4,50286,1403,PEPSAMAR 10'S SANOFI/OTC,20,None,30049099.0,18,13.003.01

In [24]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(str)
merged_df['Número Item'] = merged_df['Número Item'].astype(str)

In [25]:
efd['CHAVE_ORIGINAL'] = efd['CHAVE_ORIGINAL'].astype(str)
merged_df['Chave Acesso NFe'] = merged_df['Chave Acesso NFe'].astype(str)

In [26]:
efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROD',
                                 'DESC_PROD', 'EAN', 'NCM']].dtypes

CHAVE_ORIGINAL            object
DATA_SAIDA        datetime64[ns]
COD_DO_ITEM               object
CFOP                      object
CODPROD                   object
DESC_PROD                 object
EAN                       object
NCM                       object
dtype: object

In [27]:
#Preenchimento das colunas referentes a informações da efd
merged = pd.merge(merged_df, efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROD', 'QUANTI_EFDS',
                                 'DESC_PROD', 'EAN', 'NCM']],
                 left_on=['Chave Acesso NFe', 'Número Item'],
                 right_on=['CHAVE_ORIGINAL', 'COD_DO_ITEM'],
                 how='left')

merged = merged.drop_duplicates()
merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,bc_complementar_total_item_original,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROD,QUANTI_EFDS,DESC_PROD,EAN,NCM
0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,7.01,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448588,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448589,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448590,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448591,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448592,35180471605265000404550020000022751135760868,2018-04-28,1,24786,5411,"2,0000",32.80,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)
merged = merged.drop_duplicates(subset='CHAVE_ITEM', keep='first')

In [29]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
if duplicate_df.shape[0] > 0:
    print('Erro encontrado: combinação Chave-Item duplicada. Por favor verificar')
    sys.exit()

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\1048313211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

In [30]:
merged['Tipo'].value_counts()

dfe               296574
entrada_sp        149666
saida_nfe           1462
entrada_oprprp       877
entrada_outras         7
Name: Tipo, dtype: int64

In [31]:
merged['Produto'] = np.where((merged['Tipo'] == 'entrada_oprprp') | (merged['Tipo'] == 'saida_nfe') | (merged['Tipo'] == 'dfe'),
                               merged['Código Produto ou Serviço'], merged['CODPROD'])

merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2503235699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Produto'] = np.where((merged['Tipo'] == 'entrada_oprprp') | (merged['Tipo'] == 'saida_nfe') | (merged['Tipo'] == 'dfe'),

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROD,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
0,35161071605265000404550020000009511120592788,2016-10-01,1,8557,1202,"3,0000",98.19,7.01,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000404550020000009511120592788-1
1,35161071605265000404550020000009521120616544,2016-10-03,1,150896,1411,"1,0000",144.74,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000404550020000009521120616544-1
2,35161071605265000404550020000009531120625915,2016-10-03,1,78279,1411,"1,0000",40.05,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000404550020000009531120625915-1
3,35161071605265000404550020000009551120659296,2016-10-04,1,75,1411,"7,0000",190.75,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000404550020000009551120659296-1
4,35161071605265000404550020000009561120678948,2016-10-05,1,65888,1411,"1,0000",19.78,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000404550020000009561120678948-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448588,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13
448589,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2
448590,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1
448591,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2
448592,35180471605265000404550020000022751135760868,2018-04-28,1,24786,5411,"2,0000",32.80,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022751135760868-1

In [32]:
merged['Produto'].isnull().sum()

1546

In [33]:
merged['Tipo'].value_counts()

dfe               296574
entrada_sp        149666
saida_nfe           1462
entrada_oprprp       877
entrada_outras         7
Name: Tipo, dtype: int64

In [34]:
merged = merged[merged['Produto'].notnull()]
merged['Tipo'].value_counts()

dfe               296574
entrada_sp        148120
saida_nfe           1462
entrada_oprprp       877
entrada_outras         7
Name: Tipo, dtype: int64

In [35]:
# Leitura para um dataframe da tabela de produtos
# do banco de dados

query = f'SELECT * FROM tabela_produtos_P{periodo}'
produtos = pd.read_sql_query(query, connection)
produtos

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\1612673452.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)

,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,None,90183219,13.015.00,43570,SERINGA BD 3ML AG30X7 UNIDADE,12,68.54,None,None
1,None,96032100,None,95745,ESC D BITUFO INDICATIVA L3P2,0,None,None,None
2,None,0402.21.20,17.012.00,160796,LEITE NINHO LEVINHO 400G,7,16.13,18.13,01/03/2020
3,None,1806.90.00,17.007.00,167064,Lacta Candybar 5star Cx18,18,26.61,27.84,01/03/2020
4,1023513060027,1806.90.00,17.007.00,184077,DON G. TRUFAS SABORES CX18,18,26.61,27.84,01/03/2020
...,...,...,...,...,...,...,...,...,...
16371,None,21069050,None,929174,VALDA FRIENDS GOMA 12G,0,None,None,None
16372,None,29362921,None,5031,VIT D3 PURA,0,None,None,None
16373,None,3004.90.29,13.003.01,108654,ENO TABS 12X8 GSK,18,35.72,None,None
16374,None,1704.90.20,None,168146,Fruittella Morango+Cr Lte Cx15,None,None,None,None
16375,None,2106.90.50,None,168468,"Mentos Freshslab 8,5g Mint C15",None,None,None,None

In [36]:
mask = produtos.groupby('CODIGO_DO_PRODUTO')['ALIQUOTA'].transform('nunique') > 1

# Filtrar as linhas que atendem à condição
result = produtos[mask]
result = result.sort_values(by='CODIGO_DO_PRODUTO')
if result.shape[0] > 0:
    print('DUPLICAÇÃO DE ALIQUOTA NA TABELA DE PRODUTOS, FAVOR CHECAR')
    sys.exit()

In [37]:
efd['CODPROD'] = efd['CODPROD'].astype(str)
efd['CHAVE_ITEM'] = efd['CHAVE_ORIGINAL'] + '-' + efd['COD_DO_ITEM']
cods = efd['CODPROD'].unique()
merged['Produto'] = merged['Produto'].astype(str)
merged['Chave-Item'] = merged['Chave Acesso NFe'] + '-' + merged['Número Item']
efds_codigos = efd['CODPROD'].unique()
chave_mod_59 = efd_mod59['CHV_CFE'].unique()
chave_mod_55 = efd['CHAVE_ORIGINAL'].unique()

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2106974011.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Produto'] = merged['Produto'].astype(str)
C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2106974011.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Chave-Item'] = merged['Chave Acesso NFe'] + '-' + merged['Número Item']

In [38]:
# Regra 1
condicao_regra1 = (merged['Tipo'].isin(['entrada_sp', 'entrada_outras', 'entrada_oprprp']) &
                   merged['Chave-Item'].isin(efd['CHAVE_ITEM'].unique()))

# Regra 2
condicao_regra2 = (merged['Tipo'] == 'saida_nfe') & (merged['Chave Acesso NFe'].isin(efd['CHAVE_ORIGINAL'].unique()))

# Regra 3
condicao_regra3 = (merged['Tipo'] == 'dfe') & (merged['Chave Acesso NFe'].isin(efd_mod59['CHV_CFE'].unique()))

merged = merged[condicao_regra1 | condicao_regra2 | condicao_regra3]
merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROD,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM,Chave-Item
760,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,2018-03-06,1,1411,141416,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1
763,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,2018-03-07,1,1411,152652,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1
766,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,2018-03-08,1,1411,144741,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1
799,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,2018-03-22,1,1411,60491,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1
802,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,2018-03-22,1,1411,106138,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448587,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16
448588,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13
448589,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2
448590,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1
448591,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2

In [39]:
merged['Tipo'].value_counts()

dfe               296518
entrada_sp        148120
saida_nfe           1411
entrada_oprprp        49
entrada_outras         7
Name: Tipo, dtype: int64

In [40]:
# Preenchimento da coluna Aliquota

merged['Produto'] = merged['Produto'].astype(str)

df_merged = pd.merge(merged, produtos[['CODIGO_DO_PRODUTO', 'ALIQUOTA']],
                    left_on=['Produto'], right_on=['CODIGO_DO_PRODUTO'],
                    how='left')
df_merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CFOP,CODPROD,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,1411,141416,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,1411,152652,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,1411,144741,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,1411,60491,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,1411,106138,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18

In [41]:
df_merged['Tipo'].value_counts()

dfe               296518
entrada_sp        148120
saida_nfe           1411
entrada_oprprp        49
entrada_outras         7
Name: Tipo, dtype: int64

In [42]:
cobol = pd.read_excel('COBOL_CADASTRO_PRODUTOS.xlsx')
cobol

,PRODUTO DESCRIÇÃO,CODIGO,CLASSIFICAÇÃO,PREÇO MAXIMO.,CURVA,UN,NCM,ST,ICMS,Bas,...,PMC,IVA-E,IVA-I,CATEGORIA,LISTA,PIS,COFIN,IPI,Codigo Ean,CEST
0,-ALLURE F 50ML,819847,PCP,175.01,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.145891e+12,NaN
1,-ANIMALE F 50ML,787234,PCP,107.19,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.608941e+12,NaN
2,-CAROLINA HERRERA F 100,814707,PCP,200.08,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.411061e+12,NaN
3,-ETERNITY M 50ML,786756,PCP,171.50,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.830011e+10,NaN
4,NaN,786970,PCP,85.75,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.349668e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38960,ZYSERTIN 50MG 30'S ZYDUS C1,63511,ETC,60.68,DI,UN,30049039.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898910e+12,NaN
38961,ZYVALPREX 250MG 20'S ZYDUS C1,63495,ETC,33.93,CI,UN,30049079.0,ST,18,NaN,...,23.25,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38962,ZYVALPREX 500MG 20'S ZYDUS C1,63503,ETC,67.86,DI,UN,30049099.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38963,ZYXEM 5MG 10'S,825356,ETC,64.44,CC,UN,30049069.0,ST,18,NaN,...,NaN,34.06,34.06,REFERENCIA,NEGATIVO,NaN,NaN,NaN,7.896672e+12,NaN
38964,ZYXEM GTS 20ML,911511,ETC,76.45,BC,UN,30049069.0,ST,18,NaN,...,16.16,35.72,35.72,SIMILAR,NEGATIVO,NaN,NaN,NaN,5.413787e+12,NaN

In [43]:
cobol['CODIGO'] = cobol['CODIGO'].astype(str)
merged = df_merged.merge(cobol[['CODIGO', 'NCM']],
                        left_on='Produto', 
                        right_on='CODIGO',
                        how='left')

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12,141416,30044990.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18,152652,19011010.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12,144741,30049077.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18,60491,30049061.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12,106138,30039046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25,919704,33079000.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18,142620,34013000.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0,51680,21069030.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0,126565,21069030.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18,149542,85444200.0

In [44]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
duplicate_df

Empty DataFrame
Columns: [Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, Código GTIN, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, IND_OPER, Item NFE Origem, vBCST, ICMS ST Retido-Base de Cálculo, Produto, vPMC, bc_complementar_total_item_original, CHAVE_ORIGINAL, DATA_SAIDA, COD_DO_ITEM, CFOP, CODPROD, QUANTI_EFDS, DESC_PROD, EAN, NCM_x, CHAVE_ITEM, Chave-Item, CODIGO_DO_PRODUTO, ALIQUOTA, CODIGO, NCM_y]
Index: []

[0 rows x 41 columns]

In [45]:
df_merged = merged.drop_duplicates()
df_merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12,141416,30044990.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18,152652,19011010.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12,144741,30049077.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18,60491,30049061.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12,106138,30039046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25,919704,33079000.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18,142620,34013000.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0,51680,21069030.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0,126565,21069030.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18,149542,85444200.0

In [46]:
df = df_merged.copy()
df['QUANTI_EFDS'].isnull().sum()

297929

In [47]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12,141416,30044990.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18,152652,19011010.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12,144741,30049077.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18,60491,30049061.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12,106138,30039046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25,919704,33079000.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18,142620,34013000.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0,51680,21069030.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0,126565,21069030.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18,149542,85444200.0

In [48]:
df[df['ALIQUOTA'].isnull()]['Produto'].unique()

array(['29', '60', '14', '56', '94', '20470', '49024', '20676', '71280',
       '20924', '30173', '20970', '20971', '149173', '57', '1415', '68',
       '72', '1716', '1717', '1714', '1715', '1662', '1437', '2198',
       '1718', '1983', '818', '930164', 'PROBENPVA00000010-0000002',
       '782565', '782409', 'PROMATHIG00000008-0000001',
       'PROMATHIG00000010-0000001', 'PROMATESC00000019-0000011',
       'PROMATESC00000020-0000007', 'PROMATESC00000023-0000003',
       'PROMATESC00000027-0000003', 'PROMATESC00000028-0000004',
       'PROMATUCO00000004-0000006', 'PROMATHIG00000027-0000011',
       'PROMATHIG00000027-0000020', 'PROMATUCO00000002-0000006',
       'PROMATHIG00000040-0000002', 'PROIMPEXP00000003-0000001', '48',
       '383', '776', '552', '2086', '300345', '300361', '300369',
       '300422', '300836', '300843', '70103', '900201', '890207',
       '815774', '151000', '817716', '926142', '814562', '541000',
       '589100', '10372', '10370', '16975', '10075', '16621', '16255',
       '16175', '14574', '11017', 'PROBENPVA00000001-0000001', '2', '3',
       'PROMATESC00000040-0000004', 'PROMATINF00000051-0000005',
       'PROIMPEXP00000002-0000006', 'PROIMPEXP00000002-0000007',
       'PROMATHIG00000039-0000003', 'PROMATHIG00000021-0000007',
       'PROIMPEXP00000001-0000008', 'PROMATESC00000026-0000005',
       'PROMATUCO00000003-0000006', 'PROIMPEXP00000024-0000011',
       'PROIMPEXP00000024-0000012', 'PROMATESC00000010-0000003',
       'PROIMPEXP00000003-0000009', '200077', '200092', '200146',
       '200217', '200254', '200269', '200348', '200358', '200359',
       '200452', '200679', '200687', '200759', '200776', '200978',
       '200965', '300001', '300071', '300119', '300412', '300482',
       '300506', '300603', '300645', '300918', '301076', '9799', '19874',
       '30292', '9415', '751270', '1002', '5422', '1450', '421', '1427',
       '1421', '1345', '1019', '1443', '26700', '32500', '31700', '37700',
       '75300', 'PROBENPVA00000015-0000002', 'PROIMPEXP00000008-0000004',
       '10', 'PROMATINF00000051-0000006', 'PROIMPEXP00000024-0000013',
       'PROCONBEN00000030-0000010', 'PROIMPEXP00000018-0000002', '4063',
       '4377', '8254', '5051', '5197', '5182', '8408', '5151', '4942',
       'PROMATINF00000025-0000001', '929885', '9',
       'PROMATHIG00000012-0000003', 'PROMATHIG00000018-0000005',
       'PROMATUCO00000003-0000010', 'PROMATUCO00000002-0000007',
       'PROBENPVA00000027-0000002', 'PROMATUCO00000001-0000004',
       'PROMATESC00000019-0000008', 'PROMATESC00000019-0000009',
       'PROMATESC00000031-0000010', 'PROMATUCO00000029-0000004',
       'PROMATUCO00000029-0000006', 'PROIMPEXP00000024-0000001',
       'PROMATHIG00000027-0000017', 'PROMATHIG00000027-0000018',
       'PROIMPEXP00000024-0000014', 'PROIMPEXP00000003-0000011',
       'PROIMPEXP00000003-0000012', 'PROIMPEXP00000003-0000014',
       'PROIMPEXP00000003-0000015', 'PROIMPEXP00000003-0000016',
       'PROIMPEXP00000003-0000017', 'PROIMPEXP00000003-0000018',
       'PROIMPEXP00000003-0000019', 'PROMATHIG00000003-0000003',
       'PROMATHIG00000043-0000002', 'PROMATHIG00000038-0000002',
       'PROMATHIG00000018-0000006', 'PROMATHIG00000018-0000001',
       'PROMATHIG00000021-0000001', '4151', '7975', '4194', '4839',
       '8424', '7241', '8894', 'PROMATHIG00000006-0000002',
       'PROMATHIG00000006-0000003', 'PROMATHIG00000001-0000001',
       'PROMATHIG00000055-0000001', 'PROMATHIG00000007-0000002',
       'PROMATHIG00000050-0000001', 'PROMATHIG00000026-0000001',
       'PROMATHIG00000014-0000001', 'PROMATHIG00000030-0000003',
       'PROMATHIG00000053-0000001', 'PROMATHIG00000044-0000001',
       'PROMATHIG00000052-0000001', 'PROMATHIG00000028-0000001',
       'PROMATHIG00000046-0000001', 'PROMATESC00000019-0000001',
       'PROIMPEXP00000026-0000001', 'PROIMPEXP00000009-0000003',
       'PROBENPVA00000020-0000002', 'PROMATESC00000028-0000005',
       'PROMATHIG00000029-0000009', 'PROMATUCO00000004-0000010', '3952',
       '4124', '4451', '8994', '8774', '9039',
       'PROMATUCO00000012-0000001', 'PROMATESC00000026-0000001',
       'PROCONBEN00000061-0000001', 'PROCONBEN00000062-0000001',
       'PROCONBEN00000107-0000001', 'PROCONBEN00000270-0000001', '5955',
       '49', 'PROMATESC00000014-0000048', 'PROCONBEN00000024-0000006',
       'PROMATUCO00000004-0000009', 'PROMATESC00000005-0000005',
       'PROMATHIG00000008-0000002', 'PROMATHIG20000000-0000001',
       'PROBENPVA00000018-0000001', 'PROMATUCO00000002-0000002',
       'PROMATHIG00000021-0000012', 'PROMATESC00000002-0000004',
       'PROMATESC00000002-0000005', 'PROMATESC00000020-0000010',
       'PROMATESC00000022-0000006', 'PROMATESC00000050-0000009',
       'PROMATESC00000050-0000010', 'PROMATESC00000014-0000049',
       'PROCONBEN00000176-0000002', 'PROMATESC00000068-0000003',
       'PROMATESC00000008-0000003', 'PROIMPEXP00000024-0000019', '8',
       'PROIMPEXP00000001-0000001', '31732', '5970',
       'PROBENPVA00000016-0000002', 'PROMATHIG00000027-0000019', '5',
       'PROMATINF00000009-0000003', 'PROMATHIG00000021-0000013',
       'PROIMPEXP00000024-0000015', 'PROMATESC00000040-0000007',
       'PROMATUCO00000003-0000011', 'PROMATHIG00000027-0000012',
       'PROMATHIG00000027-0000014', 'PROMATHIG00000027-0000015', '40',
       'PROMATESC00000004-0000003', 'PROMATESC00000011-0000002',
       'PROMATESC00000013-0000009', 'PROIMPEXP00000001-0000012',
       'PROMATESC00000030-0000009', 'PROMATESC00000032-0000006',
       'PROMATESC00000043-0000008', 'PROMATESC00000055-0000004',
       'PROMATESC00000055-0000003', 'PROMATESC00000045-0000003',
       'PROMATESC00000012-0000006', 'PROMATESC00000014-0000046',
       'PROMATESC00000014-0000050', 'PROMATESC00000014-0000051',
       'PROMATESC00000014-0000052', 'PROMATESC00000053-0000013',
       'PROMATESC00000053-0000019', 'PROMATESC00000060-0000003',
       'PROMATESC00000049-0000001', 'PROIMPEXP00000011-0000004',
       'PROMATUCO00000001-0000002', 'PROMATESC00000066-0000001',
       'PROIMPEXP00000014-0000008', 'PROBENPVA20000000-0000001',
       'PROCONBEN20000000-0000001', 'PROIMPEXP00000014-0000006',
       'PROMATUCO00000014-0000003', 'PROIMPEXP00000018-0000003',
       'PROIMPEXP00000014-0000011', 'PROIMPEXP00000001-0000017',
       'PROMATHIG00000021-0000014', 'PROMATESC00000031-0000008',
       'PROMATUCO00000002-0000003', 'PROIMPEXP00000012-0000002',
       'PROIMPEXP00000012-0000004', 'PROIMPEXP00000002-0000005',
       'PRORECELE00000001', '4', 'PROMATUCO00000003-0000007',
       'PROMATHIG00000018-0000002', 'PROIMPEXP00000014-0000003',
       'PROMATESC00000026-0000002', 'PROCONBEN00000013-0000004',
       'PROMATHIG00000027-0000003', 'PROMATUCO00000003-0000008', '13',
       'PROBENPVA00000026-0000003', 'PROMATESC00000011-0000007',
       'PROMATESC00000031-0000032', 'PROIMPEXP00000001-0000018',
       'PROMATHIG00000018-0000003', 'PROMATUCO00000025-0000003',
       'PROIMPEXP00000014-0000004', '11', '47',
       'PROMATESC00000022-0000001', 'PROMATESC00000003-0000003',
       'PROMATUCO00000014-0000002', 'PROIMPEXP00000024-0000005',
       'PROMATESC00000012-0000004', 'PROMATHIG00000027-0000008',
       'PROMATHIG00000029-0000007', 'PROMATHIG00000029-0000002',
       'PROMATHIG00000088-0000003', 'PROMATESC00000014-0000031',
       'PROMATUCO00000002-0000009', 'PROMATESC00000010-0000005',
       'PROMATUCO00000003-0000014', 'PROMATHIG00000024-0000003',
       'PROIMPEXP00000024-0000002', 'PROMATESC00000040-0000005',
       'PROMATHIG00000032-0000002', '4887', 'PROMATUCO00000009-0000005',
       'PROMATUCO00000076-0000001', 'PROIMPEXP00000001-0000019',
       'PROMATUCO00000074-0000001', '9852', '96537', '108647',
       'PROIMPEXP00000033-0000001', 'PROMATUCO00000019-0000003', '146548',
       '183947', 'PROMATESC00000042-0000008', 'PROMATUCO00000004-0000012',
       'PROIMPEXP00000036-0000001', 'PROIMPEXP00000024-0000022',
       'PROIMPEXP00000024-0000021', 'PROMATUCO00000018-0000004',
       'PROIMPEXP00000037-0000002', 'PROIMPEXP00000037-0000001', '9985',
       '9845', '870246', '147876', '146407', '56796', '82305', '37796',
       '38448', '41483', '904854', '184218', '915959', '120907', '58149',
       '13227', '550392', 'MICRO', '104342', '125633', '003073', '002627',
       '004399', '0111610', '0120894', '0104768', '0024155', '0106558',
       '0112108', '0099968', '0116352', '0098620', '0104884', '0107126',
       '010300000', '0113511', '109926', '600756', '704089',
       'TRF00000000001', 'MANINS00005459', 'MANINS00005448',
       'MANINS00005403', 'MANINS00005077', 'MANINS00004731',
       'MANINS00004247', 'MANINS00005844', 'MANINS00004527',
       'MANINS00004088', 'MANINS00005084', 'MANINS00004301',
       'MANINS00004134', 'MANINS00004420', 'MANINS00005926',
       'MANINS00005270', 'MANINS00005736', 'MANINS00005190',
       'MANINS00004580', 'MANINS00005245', 'MANINS00009331',
       'MANINS00005679', 'MANINS00005147', 'MANINS00008262',
       'MANINS00003975', 'MANINS00008544', 'MANINS00005001',
       'MANINS00005724', 'MANINS00005086', 'MANINS00006679',
       'MANINS00004379', 'MANINS00004902', 'MANINS00004948',
       'MANINS00005202', 'MANINS00005368', 'MANINS00004768',
       'MANINS00004702', 'MANINS00005592', 'MANINS00004473',
       'MANINS00005107', 'MANINS00005774', 'MANINS00005770',
       'MANINS00005250', 'MANINS00004892', 'MANINS00005248',
       'MANINS00004426', 'MANINS00007212', 'MANINS00005464',
       'MANINS00004804', 'MANINS00004599', 'MANINS00006095',
       'MANINS00008543', 'MANINS00004653', 'MANINS00007867',
       'MANINS00008367', 'MANINS00008975', 'MANINS00002621',
       'MANINS00004480', 'MANINS00004039', 'MANINS00004563',
       'MANINS00004470', 'MANINS00004221', 'MANINS00004616',
       'MANINS00005078', 'MANINS00008090', 'MANINS00004839',
       'MANINS00004788', 'MANINS00005925', 'MANINS00003952',
       'MANINS00004317', 'MANINS00004787', 'MANINS00005349',
       'MANINS00004847', 'MANINS00004428', 'MANINS00005420',
       'MANINS00005306', 'MANINS00004238', 'MANINS00005866',
       'MANINS00005280', 'MANINS00004759', 'MANINS00004968',
       'MANINS00004672', 'MANINS00004501', 'MANINS00005444',
       'MANINS00004497', 'MANINS00004496', 'MANINS00004749',
       'MANINS00004495', 'MANINS00004477', 'MANINS00003945',
       'MANINS00005381', 'MANINS00004099', 'MANINS00005570',
       'MANINS00008781', 'MANINS00005210', 'MANINS00006098',
       'MANINS00004985', 'MANINS00005460', 'MANINS00006022',
       'MANINS00005183', 'MANINS00004319', 'MANINS00004729',
       'MANINS00009027', 'MANINS00005594', 'MANINS00005394',
       'MANINS00005876', 'MANINS00006063', 'MANINS00004469',
       'MANINS00004422', 'MANINS00004417', 'MANINS00004337',
       'MANINS00005744', 'MANINS00004219', 'MANINS00004891',
       'MANINS00004052', 'MANINS00005031', 'MANINS00004001',
       'MANINS00003993', 'MANINS00004151', 'MANINS00005122',
       'MANINS00008611', 'MANINS00005860', 'MANINS00007708',
       'MANINS00003471', 'MANINS00005519', 'MANINS00004642',
       'MANINS00005083', 'MANINS00005645', 'MANINS00004500',
       'MANINS00006085', 'MANINS00007932', 'MANINS00004617',
       'MANINS00004362', 'MANINS00004548',
       'MANINS00007399; MANINS00007399', 'MANINS00008602',
       'MANINS00005105', 'MANINS00004669', 'MANINS00005313',
       'MANINS00005117', 'MANINS00003914', 'MANINS00007387',
       'MANINS00004070', 'MANINS00005384', 'MANINS00005777',
       'MANINS00004904', 'MANINS00005252', 'MANINS00007774',
       'MANINS00005518', 'MANINS00003967', 'MANINS00005583',
       'MANINS00003979', 'MANINS00004411', 'MANINS00005503',
       'MANINS00005922', 'MANINS00005197', 'MANINS00004539',
       'MANINS00004387', 'MANINS00003937', 'MANINS00005928',
       'MANINS00004593', 'MANINS00004023', 'MANINS00005590',
       'MANINS00005018', 'MANINS00004208', 'MANINS00005354',
       'MANINS00003913', 'MANINS00004331', 'MANINS00004113',
       'MANINS00004224', 'MANINS00005447', 'MANINS00008265',
       'MANINS00005081', 'MANINS00005311', 'MANINS00004141',
       'MANINS00005432', 'MANINS00008775', 'MANINS00005487',
       'MANINS00004341', 'MANINS00004173', 'MANINS00005337',
       'MANINS00004143', 'MANINS00006080', 'MANINS00004150',
       'MANINS00006029', 'MANINS00005714', 'MANINS00005144',
       'MANINS00004214', 'MANINS00004217', 'MANINS00004240',
       'MANINS00004626', 'MANINS00004251', 'MANINS00002572',
       'MANINS00005401', 'MANINS00004264', 'MANINS00005625',
       'MANINS00005567', 'MANINS00004196', 'MANINS00004262',
       'MANINS00008899', 'MANINS00004289', 'MANINS00007241',
       'MANINS00007388', 'MANINS00005493', 'MANINS00004526',
       'MANINS00005332', 'MANINS00004307', 'MANINS00005203',
       'MANINS00004131', 'MANINS00005520', 'MANINS00008570',
       'MANINS00004329', 'MANINS00004263', 'MANINS00005475',
       'MANINS00004209', 'MANINS00004360', 'MANINS00004020',
       'MANINS00002570', 'MANINS00003888', 'MANINS00005215',
       'MANINS00005697', 'MANINS00004374', 'MANINS00006053',
       'MANINS00004427', 'MANINS00004405', 'MANINS00003774',
       'MANINS00003925', 'MANINS00003941', 'MANINS00003118',
       'MANINS00004168', 'MANINS00004429', 'MANINS00005825',
       'MANINS00004564', 'MANINS00006812', 'MANINS00005545',
       'MANINS00007401', 'MANINS00008098',
       'MANINS00007962; MANINS00007962', 'MANINS00004451; MANINS00004451',
       'MANINS00004451', 'MANINS00004187', 'MANINS00004816',
       'MANINS00003923', 'MANINS00005378', 'MANINS00004006',
       'MANINS00005479', 'MANINS00006066', 'MANINS00004154',
       'MANINS00004261', 'MANINS00005014', 'MANINS00005198',
       'MANINS00004034', 'MANINS00005600', 'MANINS00005109',
       'MANINS00004434', 'MANINS00004047', 'MANINS00004799',
       'MANINS00005246', 'MANINS00005862', 'MANINS00005740',
       'MANINS00005379', 'MANINS00005269', 'MANINS00004061',
       'MANINS00004111', 'MANINS00007183', 'TRF00000000002'], dtype=object)

In [49]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,NaN,NaN,...,1,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12,141416,30044990.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,NaN,NaN,...,2,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18,152652,19011010.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,NaN,NaN,...,3,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12,144741,30049077.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,NaN,NaN,...,1,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18,60491,30049061.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,NaN,NaN,...,6,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12,106138,30039046.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25,919704,33079000.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18,142620,34013000.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0,51680,21069030.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0,126565,21069030.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,NaN,NaN,...,NaN,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18,149542,85444200.0

In [50]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'vBCST',
       'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC',
       'bc_complementar_total_item_original', 'CHAVE_ORIGINAL', 'DATA_SAIDA',
       'COD_DO_ITEM', 'CFOP', 'CODPROD', 'QUANTI_EFDS', 'DESC_PROD', 'EAN',
       'NCM_x', 'CHAVE_ITEM', 'Chave-Item', 'CODIGO_DO_PRODUTO', 'ALIQUOTA',
       'CODIGO', 'NCM_y'],
      dtype='object')

In [51]:
# Preenchimento da coluna ICMS_TOT
df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
df['ALIQUOTA'] = df['ALIQUOTA'].astype(str).replace('None', np.nan)


df['vBCST'] = df['vBCST'].astype(float).fillna(0)
df['ICMS_TOT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
    np.where(df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] <= df['vBCST'],
             np.maximum(df['Valor ICMS Operação'].fillna(0) + df['Valor ICMS Substituição Tributária'].fillna(0), (df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] + df['bc_complementar_total_item_original'].fillna(0)) * df['ALIQUOTA'].fillna(0).astype(float)/100),
             np.maximum(df['Valor ICMS Operação'].fillna(0) + df['Valor ICMS Substituição Tributária'].fillna(0), (df['vBCST'].astype(float).fillna(0) + df['bc_complementar_total_item_original'].fillna(0)) * df['ALIQUOTA'].fillna(0).astype(float)/100)),
                         np.nan)

df

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2459481977.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,Chave-Item,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,ICMS_TOT
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,"1,0000",10.95,0.00,0.0,NaN,...,ACET TRIANCINOLONA LEG 1MG,7894916141734,30043290.0,35180371605265000404550020000020491134121174-1,35180371605265000404550020000020491134121174-1,141416,12,141416,30044990.0,NaN
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,"2,0000",93.00,0.00,0.0,NaN,...,LEITE ENFAGROW PREMIUM 800GR,7898941911973,19011090.0,35180371605265000404550020000020551134167554-1,35180371605265000404550020000020551134167554-1,152652,18,152652,19011010.0,NaN
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,"3,0000",57.87,0.00,0.0,NaN,...,CETOCON+BETA+NEO LEG CR 30GR,7894916143141,30049077.0,35180371605265000404550020000020641134210440-1,35180371605265000404550020000020641134210440-1,144741,12,144741,30049077.0,NaN
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,"1,0000",75.29,0.00,0.0,NaN,...,GYNO ICADEN 600MG 1OVULO INTEN,7501303484151,30049062.0,35180371605265000404550020000021131134616796-1,35180371605265000404550020000021131134616796-1,60491,18,60491,30049061.0,NaN
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,"6,0000",21.06,0.00,0.0,NaN,...,CLOR PROPRANOLOL CIMED 40MG 30,7896523210438,30039046.0,35180371605265000404550020000021191134621262-1,35180371605265000404550020000021191134621262-1,106138,12,106138,30039046.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,"2,0000",26.16,0.00,0.0,NaN,...,NaN,NaN,NaN,35180471605265000404550020000022731135758540-16,35180471605265000404550020000022731135758540-16,919704,25,919704,33079000.0,NaN
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,"1,0000",49.36,0.00,0.0,NaN,...,NaN,NaN,NaN,35180471605265000404550020000022731135758540-13,35180471605265000404550020000022731135758540-13,142620,18,142620,34013000.0,NaN
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,"1,0000",28.13,5.06,0.0,NaN,...,NaN,NaN,NaN,35180471605265000404550020000022731135758540-2,35180471605265000404550020000022731135758540-2,51680,0,51680,21069030.0,NaN
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,"1,0000",11.90,2.14,0.0,NaN,...,NaN,NaN,NaN,35180471605265000404550020000022741135758548-1,35180471605265000404550020000022741135758548-1,126565,0,126565,21069030.0,NaN
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,"1,0000",4.02,0.72,0.0,NaN,...,NaN,NaN,NaN,35180471605265000404550020000022741135758548-2,35180471605265000404550020000022741135758548-2,149542,18,149542,85444200.0,NaN

In [52]:
df['ICMS_TOT'].sum()

2397359.5260240994

In [53]:
df['Produto'].isnull().sum()

0

# Geração da Tabela 2

In [54]:
# Geração da coluna CHV_DOC
tabela_2 = pd.DataFrame()

tabela_2['CHV_DOC'] = df['Chave Acesso NFe']
tabela_2

                                             CHV_DOC
0       35180371605265000404550020000020491134121174
1       35180371605265000404550020000020551134167554
2       35180371605265000404550020000020641134210440
3       35180371605265000404550020000021131134616796
4       35180371605265000404550020000021191134621262
...                                              ...
446100  35180471605265000404550020000022731135758540
446101  35180471605265000404550020000022731135758540
446102  35180471605265000404550020000022731135758540
446103  35180471605265000404550020000022741135758548
446104  35180471605265000404550020000022741135758548

[446105 rows x 1 columns]

In [55]:
# Geração da coluna DATA

tabela_2['DATA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                            df['DATA_SAIDA'], df['Data Emissão'])
tabela_2

                                             CHV_DOC       DATA
0       35180371605265000404550020000020491134121174 2018-03-06
1       35180371605265000404550020000020551134167554 2018-03-07
2       35180371605265000404550020000020641134210440 2018-03-08
3       35180371605265000404550020000021131134616796 2018-03-22
4       35180371605265000404550020000021191134621262 2018-03-22
...                                              ...        ...
446100  35180471605265000404550020000022731135758540 2018-04-28
446101  35180471605265000404550020000022731135758540 2018-04-28
446102  35180471605265000404550020000022731135758540 2018-04-28
446103  35180471605265000404550020000022741135758548 2018-04-28
446104  35180471605265000404550020000022741135758548 2018-04-28

[446105 rows x 2 columns]

In [56]:
# Geração da coluna NUM_ITEM

tabela_2['NUM_ITEM'] = df['Número Item']
tabela_2

                                             CHV_DOC       DATA NUM_ITEM
0       35180371605265000404550020000020491134121174 2018-03-06        1
1       35180371605265000404550020000020551134167554 2018-03-07        1
2       35180371605265000404550020000020641134210440 2018-03-08        1
3       35180371605265000404550020000021131134616796 2018-03-22        1
4       35180371605265000404550020000021191134621262 2018-03-22        1
...                                              ...        ...      ...
446100  35180471605265000404550020000022731135758540 2018-04-28       16
446101  35180471605265000404550020000022731135758540 2018-04-28       13
446102  35180471605265000404550020000022731135758540 2018-04-28        2
446103  35180471605265000404550020000022741135758548 2018-04-28        1
446104  35180471605265000404550020000022741135758548 2018-04-28        2

[446105 rows x 3 columns]

In [57]:
# Preenchimento da coluna COD_ITEM

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CODPROD'], df['Código Produto ou Serviço'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138
...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542

In [58]:
teste = tabela_2.copy()
teste['Valid'] = tabela_2['COD_ITEM'] == df['Produto']
teste['Valid'].value_counts()

True    446105
Name: Valid, dtype: int64

In [59]:
# Preenchimento da coluna CFOP

tabela_2['CFOP'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CFOP'], df['Código CFOP (04 Posições)'])

tabela_2['CFOP'] = tabela_2['CFOP'].astype(str).str.replace(r'\.0$', '', regex=True)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411
...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927

In [60]:
# Preenchimento da coluna Entr_PCAT

cfops = ['5405', '5409', '1411', '5403', '5411', '5401', '1403', '1409']

# Assuming 'Código CFOP (04 Posições)' is the column you want to check against cfops
tabela_2['Entr_PCAT'] = tabela_2['CFOP'].isin(cfops).astype(int)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1
...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0

In [61]:
# Preenchimento das colunas QTD_NOTA, QTD_CAT e FATOR_CONV

tabela_2['QTD_NOTA'] = df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000)

tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_EFD'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], np.nan)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN
...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN

In [62]:
# Preenchimento da coluna ICMS_TOT 

tabela_2['ICMS_TOT'] = df['ICMS_TOT']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN

In [63]:
df['CFOP'].unique()

array(['1411', '1202', '2128', '1403', '1102', '1128', '1556', '1409',
       '1910', '1152', '1949', '1407', nan], dtype=object)

In [64]:
# Preenchimento da coluna DESCRICAO

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['DESC_PROD'], df['Descrição Produto'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30
...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo"
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido

In [65]:
# Preenchimento da coluna CODIGO_BARRA

# tabela_2['CODIGO_BARRA'] = df['Código GTIN']
tabela_2['CODIGO_BARRA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['EAN'], df['Código GTIN'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438
...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,

In [66]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'vBCST',
       'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC',
       'bc_complementar_total_item_original', 'CHAVE_ORIGINAL', 'DATA_SAIDA',
       'COD_DO_ITEM', 'CFOP', 'CODPROD', 'QUANTI_EFDS', 'DESC_PROD', 'EAN',
       'NCM_x', 'CHAVE_ITEM', 'Chave-Item', 'CODIGO_DO_PRODUTO', 'ALIQUOTA',
       'CODIGO', 'NCM_y', 'ICMS_TOT'],
      dtype='object')

In [67]:
# Preenchimento da coluna UNIDADE

tabela_2['UNIDADE'] = df['Unidade Comercial']

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN

In [68]:
# Preenchimento da coluna N C M

df['N C M'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['NCM_x'], df['Código NCM'])
    

tabela_2['N C M'] = np.where(df['N C M'].notnull(),
                               df['N C M'], df['NCM_y'])
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030

In [69]:
# Preenchimento da coluna ALIQUOTA

tabela_2['ALIQUOTA'] = df['ALIQUOTA']
tabela_2['ALIQUOTA'] = df['ALIQUOTA'].astype(str).str.replace(r'\.0$','', regex=True)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099,12
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090,18
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079,12
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061,18
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024,25
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024,18
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024,0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030,0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030,18

In [70]:
# Preenchimento da coluna CEST

tabela_2['CEST'] = df['Código CEST']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099,12,1300200.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090,18,2804100.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079,12,1300201.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061,18,1300101.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046,12,1300200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024,25,2801900.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024,18,2802300.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024,0,2804100.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030,0,2804100.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030,18,2804300.0

In [71]:
# Preenchimento das colunas CNPJ EMITENTE e CNPJ DESTINATARIO

tabela_2['CNPJ EMITENTE'] = df['Número CNPJ Emitente']
tabela_2['CNPJ DESTINATARIO'] = df['Número CNPJ Destinatário']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099,12,1300200.0,71605265000404,0.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090,18,2804100.0,71605265000404,0.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079,12,1300201.0,71605265000404,0.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061,18,1300101.0,71605265000404,0.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046,12,1300200.0,71605265000404,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024,25,2801900.0,71605265000404,71605265000404.0
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024,18,2802300.0,71605265000404,71605265000404.0
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024,0,2804100.0,71605265000404,71605265000404.0
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030,0,2804100.0,71605265000404,71605265000404.0
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030,18,2804300.0,71605265000404,71605265000404.0

In [72]:
# Preenchimento da coluna IND_OPER

tabela_2['IND_OPER'] = df['IND_OPER']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099,12,1300200.0,71605265000404,0.0,0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090,18,2804100.0,71605265000404,0.0,0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079,12,1300201.0,71605265000404,0.0,0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061,18,1300101.0,71605265000404,0.0,0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046,12,1300200.0,71605265000404,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024,25,2801900.0,71605265000404,71605265000404.0,1
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024,18,2802300.0,71605265000404,71605265000404.0,1
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024,0,2804100.0,71605265000404,71605265000404.0,1
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030,0,2804100.0,71605265000404,71605265000404.0,1
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030,18,2804300.0,71605265000404,71605265000404.0,1

In [73]:
tabela_2['VALOR'] = df['Valor Produto ou Serviço']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,Acet Triancinolona Leg 1mg,7894916141734,UN,30049099,12,1300200.0,71605265000404,0.0,0,10.95
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,Leite Enfagrow Premium 800gr,7898941911973,UN,21069090,18,2804100.0,71605265000404,0.0,0,93.00
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,Cetocon+Beta+Neo Leg Cr 30gr,7894916143141,UN,30049079,12,1300201.0,71605265000404,0.0,0,57.87
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,Gyno Icaden 600mg 1ovulo Inten,7501303484151,UN,30049061,18,1300101.0,71605265000404,0.0,0,75.29
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,Clor Propranolol Cimed 40mg 30,7896523210438,UN,30039046,12,1300200.0,71605265000404,0.0,0,21.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,Veet Cera Corp Pdelicada 12fol,,UN,30049024,25,2801900.0,71605265000404,71605265000404.0,1,26.16
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,Neutrog Ul Gentle Gel Li 364ml,,UN,30049024,18,2802300.0,71605265000404,71605265000404.0,1,49.36
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,"Simbiofos 6 Saches 3,6gr Farmo",,UN,30049024,0,2804100.0,71605265000404,71605265000404.0,1,28.13
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,Vitacon D 20ml,,UN,21069030,0,2804100.0,71605265000404,71605265000404.0,1,11.90
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,Cabo Usb Iphone 5/6 Colorido,,UN,21069030,18,2804300.0,71605265000404,71605265000404.0,1,4.02

In [74]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'vBCST',
       'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC',
       'bc_complementar_total_item_original', 'CHAVE_ORIGINAL', 'DATA_SAIDA',
       'COD_DO_ITEM', 'CFOP', 'CODPROD', 'QUANTI_EFDS', 'DESC_PROD', 'EAN',
       'NCM_x', 'CHAVE_ITEM', 'Chave-Item', 'CODIGO_DO_PRODUTO', 'ALIQUOTA',
       'CODIGO', 'NCM_y', 'ICMS_TOT', 'N C M'],
      dtype='object')

In [75]:
tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
tabela_2['Valor Complementar'] = df['bc_complementar_total_item_original']
tabela_2['vBCST'] = df['vBCST']
tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)
tabela_2['FONTE'] = df['Tipo']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,0.0,0,10.95,6.42,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,0.0,0,93.00,105.00,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,0.0,0,57.87,41.73,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,0.0,0,75.29,66.93,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,0.0,0,21.06,12.60,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,...,71605265000404.0,1,26.16,0.00,NaN,NaN,0.0,0.00,0.0,saida_nfe
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,49.36,0.00,NaN,NaN,0.0,0.00,0.0,saida_nfe
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,28.13,0.00,NaN,NaN,0.0,5.06,0.0,saida_nfe
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,11.90,0.00,NaN,NaN,0.0,2.14,0.0,saida_nfe
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,4.02,0.00,NaN,NaN,0.0,0.72,0.0,saida_nfe

In [76]:
#tabela_2.rename(columns={'QTD_NOTA': 'QTD'}, inplace=True)

In [77]:
if periodo == 0:
    tabela_2 = tabela_2[tabela_2['DATA'] < '2018-05-01']
elif periodo == 1:
    tabela_2 = tabela_2[(tabela_2['DATA'] >= '2018-05-01') & (tabela_2['DATA'] < '2019-10-01')]
elif periodo == 2:
    tabela_2 = tabela_2[tabela_2['DATA'] >= '2019-10-01']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,0.0,0,10.95,6.42,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,0.0,0,93.00,105.00,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,0.0,0,57.87,41.73,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,0.0,0,75.29,66.93,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,0.0,0,21.06,12.60,NaN,NaN,0.0,0.00,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446100,35180471605265000404550020000022731135758540,2018-04-28,16,919704,5927,0,2,2,NaN,NaN,...,71605265000404.0,1,26.16,0.00,NaN,NaN,0.0,0.00,0.0,saida_nfe
446101,35180471605265000404550020000022731135758540,2018-04-28,13,142620,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,49.36,0.00,NaN,NaN,0.0,0.00,0.0,saida_nfe
446102,35180471605265000404550020000022731135758540,2018-04-28,2,51680,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,28.13,0.00,NaN,NaN,0.0,5.06,0.0,saida_nfe
446103,35180471605265000404550020000022741135758548,2018-04-28,1,126565,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,11.90,0.00,NaN,NaN,0.0,2.14,0.0,saida_nfe
446104,35180471605265000404550020000022741135758548,2018-04-28,2,149542,5927,0,1,1,NaN,NaN,...,71605265000404.0,1,4.02,0.00,NaN,NaN,0.0,0.72,0.0,saida_nfe

In [78]:
tabela_2 = tabela_2[tabela_2['Entr_PCAT'] == 1]

In [79]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,0.0,0,10.95,6.42,NaN,NaN,0.0,0.0,0.0,entrada_oprprp
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,0.0,0,93.00,105.00,NaN,NaN,0.0,0.0,0.0,entrada_oprprp
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,0.0,0,57.87,41.73,NaN,NaN,0.0,0.0,0.0,entrada_oprprp
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,0.0,0,75.29,66.93,NaN,NaN,0.0,0.0,0.0,entrada_oprprp
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,0.0,0,21.06,12.60,NaN,NaN,0.0,0.0,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445971,35180471605265000404550020000022461009479908,2018-04-24,1,6650,5409,1,1,1,NaN,NaN,...,71605265000595.0,1,50.44,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe
445972,35180471605265000404550020000022461009479908,2018-04-24,3,928903,5409,1,1,1,NaN,NaN,...,71605265000595.0,1,5.75,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe
445987,35180471605265000404550020000022511009593450,2018-04-25,1,80838,5409,1,1,1,NaN,NaN,...,71605265000595.0,1,72.89,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe
446071,35180471605265000404550020000022681009333412,2018-04-28,1,150748,5409,1,3,3,NaN,NaN,...,71605265000595.0,1,44.49,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe
446072,35180471605265000404550020000022691009564802,2018-04-28,1,902882,5409,1,1,1,NaN,NaN,...,71605265000595.0,1,195.49,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe

In [80]:
df_2 = pd.read_excel('CFOP_e_template.xlsx', sheet_name='Tb_CFOP')

tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
df_2['CFOP'] = df_2['CFOP'].astype(int)
# Adição da informação do sub-tipo à tabela principal

df_new = tabela_2.join(df_2.set_index('CFOP'), lsuffix='_orig', rsuffix='_externo', on='CFOP')
df_new['DATA'] = pd.to_datetime(df_new['DATA'], format='%Y-%m-%d')
df_new = df_new.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER'])
df_new['ALIQUOTA'] = df_new['ALIQUOTA'].astype(str).replace('nan', np.nan)
# Preenchimento da coluna VL_CONFR

mask = (df_new['IND_OPER'] == 1) & (df_new['SINAL'] == 1) & \
       (df_new['CFOP'] != 5409) 

# Calculate the values using NumPy operations
values = np.where(mask, df_new['VALOR'] * (df_new['ALIQUOTA'].fillna(0).astype(float) / 100), np.nan)

# Assign the calculated values to the 'vl_confr' column
        
df_new['VL_CONFR'] = values

df_new

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\3204352297.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,Válido para Ressarcimento?,SINAL,VL_CONFR
444809,35170371605265000404550020000011711124513037,2017-03-06,10,0024155,5411,1,1,1,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,-1,NaN
444814,35170371605265000404550020000011711124513037,2017-03-06,7,0098620,5411,1,1,1,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,-1,NaN
444812,35170371605265000404550020000011711124513037,2017-03-06,2,0099968,5411,1,1,1,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,-1,NaN
444808,35170371605265000404550020000011711124513037,2017-03-06,6,0104768,5411,1,1,1,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,-1,NaN
444815,35170371605265000404550020000011711124513037,2017-03-06,3,0104884,5411,1,1,1,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445917,35180471605265000404550020000022371135552911,2018-04-23,2,MANINS00005122,5405,1,64,64,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,1,0.0
445918,35180471605265000404550020000022371135552911,2018-04-23,3,MANINS00005122,5405,1,116,116,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,1,0.0
445831,35180471605265000404550020000022021135259780,2018-04-13,1,MANINS00005368,5405,1,870,870,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,1,0.0
445827,35180471605265000404550020000022011135259014,2018-04-13,8,MANINS00005744,5405,1,8,8,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,1,0.0
445839,35180471605265000404550020000022021135259780,2018-04-13,9,MANINS00008611,5405,1,2500,2500,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,S,1,0.0

In [81]:
tabela_2['SUB_TIPO'] = df_new['SINAL']
tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\4163718643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['SUB_TIPO'] = df_new['SINAL']
C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\4163718643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,10.95,6.42,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,93.00,105.00,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,57.87,41.73,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,75.29,66.93,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,21.06,12.60,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445971,35180471605265000404550020000022461009479908,2018-04-24,1,6650,5409,1,1,1,NaN,NaN,...,50.44,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN
445972,35180471605265000404550020000022461009479908,2018-04-24,3,928903,5409,1,1,1,NaN,NaN,...,5.75,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN
445987,35180471605265000404550020000022511009593450,2018-04-25,1,80838,5409,1,1,1,NaN,NaN,...,72.89,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN
446071,35180471605265000404550020000022681009333412,2018-04-28,1,150748,5409,1,3,3,NaN,NaN,...,44.49,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN
446072,35180471605265000404550020000022691009564802,2018-04-28,1,902882,5409,1,1,1,NaN,NaN,...,195.49,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN

In [82]:
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan)
tabela_2[tabela_2['ALIQUOTA'].isnull()]

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\2816759999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan)

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0
2056,35161021235094000158550010002093841002292163,2016-10-18,30,930164,1403,1,1,1,1,NaN,...,40.98,0.0,NaN,NaN,0.0,0.0,0.0,entrada_sp,1,NaN
2183,35161021235094000158550010002107351002305567,2016-10-24,28,782565,1403,1,1,21,21,0.0,...,16.80,0.0,NaN,NaN,0.0,0.0,0.0,entrada_sp,1,NaN
2184,35161021235094000158550010002107351002305567,2016-10-24,26,782409,1403,1,1,21,21,0.0,...,16.80,0.0,NaN,NaN,0.0,0.0,0.0,entrada_sp,1,NaN
8060,35161121235094000158550010002154841002353329,2016-11-08,16,782565,1403,1,1,21,21,0.0,...,16.80,0.0,NaN,NaN,0.0,0.0,0.0,entrada_sp,1,NaN
8061,35161121235094000158550010002154841002353329,2016-11-08,15,782409,1403,1,1,21,21,0.0,...,16.80,0.0,NaN,NaN,0.0,0.0,0.0,entrada_sp,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445837,35180471605265000404550020000022021135259780,2018-04-13,7,MANINS00005122,5405,1,60,60,NaN,NaN,...,3.48,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0
445838,35180471605265000404550020000022021135259780,2018-04-13,8,MANINS00005122,5405,1,100,100,NaN,NaN,...,5.80,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0
445839,35180471605265000404550020000022021135259780,2018-04-13,9,MANINS00008611,5405,1,2500,2500,NaN,NaN,...,67.50,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0
445917,35180471605265000404550020000022371135552911,2018-04-23,2,MANINS00005122,5405,1,64,64,NaN,NaN,...,3.73,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0
445918,35180471605265000404550020000022371135552911,2018-04-23,3,MANINS00005122,5405,1,116,116,NaN,NaN,...,6.76,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0

In [83]:
# Preenchimento da coluna COD_LEGAL
conditions = [
    tabela_2['CFOP'] == 5927,
    tabela_2['CFOP'] == 5409,
    (tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1),
    (tabela_2['IND_OPER'] == 1) & (tabela_2['SUB_TIPO'] == -1),
    tabela_2['ALIQUOTA'].isnull()
]

choices = [2, 0, np.nan, np.nan, 0]

# If none of the conditions are met, the default choice is 1
default_choice = 1

# Use numpy.select to set values for 'COD_LEGAL'
tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\1988300279.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

In [84]:
tabela_2[tabela_2['ALIQUOTA'].isnull()]['COD_LEGAL'].unique()

array([nan,  0.])

In [85]:
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan).fillna(0).astype(float)
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_23700\1664547852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan).fillna(0).astype(float)

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0,COD_LEGAL
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,6.42,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,105.00,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,41.73,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,66.93,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,12.60,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445971,35180471605265000404550020000022461009479908,2018-04-24,1,6650,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
445972,35180471605265000404550020000022461009479908,2018-04-24,3,928903,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
445987,35180471605265000404550020000022511009593450,2018-04-25,1,80838,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
446071,35180471605265000404550020000022681009333412,2018-04-28,1,150748,5409,1,3,3,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
446072,35180471605265000404550020000022691009564802,2018-04-28,1,902882,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0

In [86]:
tabela_2[tabela_2['ALIQUOTA'].isnull()]

Empty DataFrame
Columns: [CHV_DOC, DATA, NUM_ITEM, COD_ITEM, CFOP, Entr_PCAT, QTD_NOTA, QTD_CAT, QTD_EFD, ICMS_TOT, DESCRICAO, CODIGO_BARRA, UNIDADE, N C M, ALIQUOTA, CEST, CNPJ EMITENTE, CNPJ DESTINATARIO, IND_OPER, VALOR, Valor Base Cálculo ICMS ST Retido Operação Anterior, Valor Base Cálculo ICMS Substituição Tributária, Valor Complementar, vBCST, Valor ICMS Operação, Valor ICMS Substituição Tributária, FONTE, SUB_TIPO, VL_CONFR_0, COD_LEGAL]
Index: []

[0 rows x 30 columns]

In [87]:
tabela_2[(tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1)]['COD_LEGAL']

56       NaN
57       NaN
58       NaN
59       NaN
60       NaN
          ..
148170   NaN
148171   NaN
148172   NaN
148173   NaN
148174   NaN
Name: COD_LEGAL, Length: 136680, dtype: float64

In [88]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0,COD_LEGAL
0,35180371605265000404550020000020491134121174,2018-03-06,1,141416,1411,1,1,1,NaN,NaN,...,6.42,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
1,35180371605265000404550020000020551134167554,2018-03-07,1,152652,1411,1,2,2,NaN,NaN,...,105.00,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
2,35180371605265000404550020000020641134210440,2018-03-08,1,144741,1411,1,3,3,NaN,NaN,...,41.73,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
3,35180371605265000404550020000021131134616796,2018-03-22,1,60491,1411,1,1,1,NaN,NaN,...,66.93,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
4,35180371605265000404550020000021191134621262,2018-03-22,1,106138,1411,1,6,6,NaN,NaN,...,12.60,NaN,NaN,0.0,0.0,0.0,entrada_oprprp,-1,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445971,35180471605265000404550020000022461009479908,2018-04-24,1,6650,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
445972,35180471605265000404550020000022461009479908,2018-04-24,3,928903,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
445987,35180471605265000404550020000022511009593450,2018-04-25,1,80838,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
446071,35180471605265000404550020000022681009333412,2018-04-28,1,150748,5409,1,3,3,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0
446072,35180471605265000404550020000022691009564802,2018-04-28,1,902882,5409,1,1,1,NaN,NaN,...,0.00,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,NaN,0.0

In [89]:
tabela_2[tabela_2['QTD_NOTA'] == 'nan']

Empty DataFrame
Columns: [CHV_DOC, DATA, NUM_ITEM, COD_ITEM, CFOP, Entr_PCAT, QTD_NOTA, QTD_CAT, QTD_EFD, ICMS_TOT, DESCRICAO, CODIGO_BARRA, UNIDADE, N C M, ALIQUOTA, CEST, CNPJ EMITENTE, CNPJ DESTINATARIO, IND_OPER, VALOR, Valor Base Cálculo ICMS ST Retido Operação Anterior, Valor Base Cálculo ICMS Substituição Tributária, Valor Complementar, vBCST, Valor ICMS Operação, Valor ICMS Substituição Tributária, FONTE, SUB_TIPO, VL_CONFR_0, COD_LEGAL]
Index: []

[0 rows x 30 columns]

In [92]:
tabela_2[(tabela_2['QTD_NOTA'] == '3.6') | (tabela_2['QTD_NOTA'] == '6.68')]

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0,COD_LEGAL
445832,35180471605265000404550020000022021135259780,2018-04-13,2,MANINS00005031,5405,1,3.6,3.6,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0,0.0
445834,35180471605265000404550020000022021135259780,2018-04-13,4,MANINS00004001,5405,1,6.68,6.68,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,saida_nfe,1,0.0,0.0

In [90]:
tabela_2 = tabela_2[tabela_2['QTD_NOTA'] != 'nan']
tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(int)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(int)
tabela_2['CHECAGEM'] = tabela_2['QTD_CAT']/tabela_2['QTD_NOTA']

ValueError: invalid literal for int() with base 10: '3.6'

In [ ]:
pivot_table = tabela_2[(tabela_2['FONTE'] == 'entrada_sp') | (tabela_2['FONTE'] == 'entrada_outras')].pivot_table(index='COD_ITEM', values='CHECAGEM', aggfunc='nunique').reset_index()
pivot_table

In [ ]:
cod_items_with_multiple_values = pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM']
if cod_items_with_multiple_values.shape[0] > 0:
    print('Erro encontrado: Fator de conversão errado, favor verificar')
    cods = pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM'].values
    tabela_2[tabela_2['COD_ITEM'].isin(cods)].to_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\cods_a verificar_loja_{loja}.xlsx')
    sys.exit()

In [ ]:
tabela_2_filt = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM',
                    'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'QTD_EFD', 'ICMS_TOT','VL_CONFR_0', 'COD_LEGAL',
                    'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                    'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação', 
                    'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M','CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
                    'Valor Base Cálculo ICMS Substituição Tributária', 'vBCST', 'FONTE']]
tabela_2_filt

In [ ]:
tabela_2_filt['COMBINACAO_CHV_NUM'] = tabela_2_filt['CHV_DOC'] + '-' + tabela_2_filt['NUM_ITEM'].astype(str)

# Criando uma coluna temporária para a combinação de CHAVE_ORIGINAL e COD_DO_ITEM em efd
efd['COMBINACAO_CHAVE_COD'] = efd['CHAVE_ORIGINAL'] + '-' + efd['COD_DO_ITEM'].astype(str)

# Cenário
condicao_cenario = (
    (tabela_2_filt['IND_OPER'] == 0) &
    (~tabela_2_filt['COMBINACAO_CHV_NUM'].isin(efd['COMBINACAO_CHAVE_COD']))
)

# Verificando se há alguma linha que atende ao cenário
tabela_2_final = tabela_2_filt[~condicao_cenario]
tabela_2_final

In [ ]:
tabela_2_final['ICMS_TOT'].sum()

In [ ]:
if tabela_2[tabela_2['ALIQUOTA'].isnull()].shape[0] > 0:
    print('Erro encontrado. Existem Alíquotas vazias, favor verificar')
    print('Os seguintes códigos não possuem Aliquota:')
    print(list(tabela_2[tabela_2['ALIQUOTA'].isnull()]['COD_ITEM'].unique()))
    print(tabela_2[tabela_2[['CHV_DOC','COD_ITEM', 'DESCRICAO', 'FONTE']]])
    sys.exit()

In [ ]:
if len(tabela_2) > 1000000:
    print('+'*50)
    print('ATENÇÃO! LOJA GRANDE. ATENÇÃO! LOJA GRANDE.')
    print('+'*50)

In [ ]:
tabela_2_final['COMBINACAO_CHV_NUM'] = tabela_2_final['CHV_DOC'] + '-' + tabela_2_final['NUM_ITEM'].astype(str)

# Criando uma coluna temporária para a combinação de CHAVE_ORIGINAL e COD_DO_ITEM em efd
efd['COMBINACAO_CHAVE_COD'] = efd['CHAVE_ORIGINAL'] + '-' + efd['COD_DO_ITEM'].astype(str)

# Cenário
condicao_cenario = (
    (tabela_2_final['IND_OPER'] == 0) &
    (~tabela_2_final['COMBINACAO_CHV_NUM'].isin(efd['COMBINACAO_CHAVE_COD']))
)

# Verificando se há alguma linha que atende ao cenário
tabela_2_final[condicao_cenario]

In [ ]:
tabela_2_final['CHAVE_ITEM'] = tabela_2_final['CHV_DOC'].astype(str) + '-' + tabela_2_final['NUM_ITEM'].astype(str)

duplicate_mask = tabela_2_final['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = tabela_2_final[duplicate_mask]
if duplicate_df.shape[0] > 0:
    print('Erro encontrado: combinação Chave-Item duplicada. Por favor verificar')
    sys.exit()

In [ ]:
# Salvamento do arquivo da tabela 2

tabela_2_final.to_csv(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\loja_{loja}_tabela_2_p{periodo}_v1.csv', encoding='utf-8')

In [ ]:
tabela_2_final[['COD_ITEM', 'DESCRICAO','ALIQUOTA']]

In [ ]:
resumo = tabela_2_final.groupby('COD_ITEM')['ALIQUOTA'].nunique().reset_index(name='quantidade_aliquotas')
resumo

In [ ]:
cods = list(produtos['CODIGO_DO_PRODUTO'].unique())
tabela_2_final[~tabela_2_final['COD_ITEM'].isin(cods)]['COD_ITEM'].unique()

In [ ]:
# Supondo que 'tabela_2_final' e 'produtos' são seus DataFrames
# Substitua 'COD_ITEM' e 'ALIQUOTA' pelos nomes reais das suas colunas

# Merge dos dataframes com base na coluna 'COD_ITEM'
merged_df = tabela_2_final.merge(produtos, left_on='COD_ITEM',
                                 right_on=['CODIGO_DO_PRODUTO'], how='left', suffixes=('_tabela_2_final', '_produtos'))

# Verifica se 'ALIQUOTA_tabela_2_final' é igual a 'ALIQUOTA_produtos'
merged_df['iguais'] = (merged_df['ALIQUOTA_tabela_2_final'].astype(float) == merged_df['ALIQUOTA_produtos'].astype(float))

# Preenche os valores ausentes com 0
merged_df['ALIQUOTA_produtos'].fillna(0, inplace=True)

# Seleciona as colunas relevantes
resultado_final = merged_df[['COD_ITEM', 'ALIQUOTA_tabela_2_final', 'ALIQUOTA_produtos', 'iguais']]

In [ ]:
resultado_final

In [ ]:
connection.close()